<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <p>{{ name }} is sharing a plot page with you. Please use the link below to view the plots that were shared with you.<br />
        <br />
        <a href="{{ url }}">{{ url }}</a><br />
        <br />
        Thank you.<br />
        <br />
        {{ name }}
    </p>
</body>
</html>