<div class="x_title">
  <div>
    <a class="toggle-status-grid hidden" id="show-status-grid"><i class="fa fa-angle-double-left"></i> Show</a>
  </div>
  <div class="clearfix"></div>
</div>
<div class="row x_panel status-grid-mini-x_panel">
  <div class="mini-status-grid text-center status-grid-mini-asset-container">
    {% for asset in mini_assets %}
    <div class="{{ asset.status_grid_css_class }} asset-in-mini-grid status-grid-mini "> 
      <a href="/asset/overview/{{asset.id}}/{{deployment.code}}"> {{ asset }} {{ asset.alert_count }}</a>
    </div>
    {% endfor %}
  </div>
</div>




