{% extends 'base.html' %}
{% load static ui_tags %}

{% block topnav %}

<h1>Create Redmine Issue</h1>
{% endblock %}

{% block content %}

<div id="redmine-issue" class="x_panel">
    <div class="x_content">

        <div class="alert alert-success">
            {% if alert %}
            A Redmine issue for this alert has been created successfully
            {% else %}
            A Redmine issue has been created successfully
            {% endif %}
        </div>



        <div class="row">
            {% if alert %}
            <a href="{% url 'alert.detail' alert.id %}" class="btn btn-default">Return to Alert</a>
            <a href="{{ redmine_url }}/issues/{{ alert.redmine_id }}" class="btn btn-primary" target="_blank">View Issue</a>
            {% else %}
            <a href="/dashboard" class="btn btn-default">Return to Dashboard</a>
            <a href="{{ redmine_url }}/issues/{{ issue_id }}" class="btn btn-primary" target="_blank">View Issue</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}