{% extends 'base.html' %}
{% load static %}
{% load ui_tags %}

{% block topnav %}
        <h1>Confirm Import Triggers</h1>
{% endblock %}

{% block content %}
<style>
    .form-group{
      margin-bottom: -5px;
    }
    .owner{
      margin-top: 5px;
    }
  </style>
<div class="x_panel">
    <h4>Settings applied to ALL imported items:</h4>
    <form action="{% url 'alert.do_import_triggers' %}" method="POST">
    {% csrf_token %}
    <div class="x_panel">
        {% if perms.core.edit_shared_items %}
        <div>
            <input type="checkbox" name="override_global" id="id_override_global">
            <label class="control-label">Override 'Is Shared'</label>
        </div>

        <div class="x_panel">
            <div>
                <label class="control-label">Is Shared</label>
                {{ perms_form.is_global }}
            </div>
            <div class="form-group global">
                <label class="control-label">{{ perms_form.owner.label_tag }}</label>
                {{ perms_form.owner }}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="x_panel">
        <div class="x_title">
            <h5>The triggers below can be imported. Please select which triggers you would like to import.</h5>
        </div>
        <table class="table table-striped table-bordered dataTable no-footer" id="name_table">
        </table>
    </div>
        <input type="hidden" name="filename" value="{{filename}}">  
        {% if matched_trigs %}
        <input type="submit" id="obj_import_id_submit" class="btn btn-primary" style="margin-top:5px" value="Import these Triggers" >
        {% endif %}
    </form>
    {% if error_objs %}
        <h5>These Triggers could not be matched to assets:</h5>
        {% for msg in error_objs %}
            <div style="display:inline-block">
            <div class="alert-error"> {{msg}}</div>
            </div>
        {% endfor %}
    {% endif %}

</div>


{% endblock %}

{% block scripts %}

<script type="text/javascript">
    $(function(){
        var trig_data = [
            {% for trig in matched_trigs %}

            {
                "id": "{{trig.id}}", 
                "name": "{{trig.name}}",
            } ,
            {% endfor %}
        ]

        var tableId = '#name_table';
                
        let resultsTable = $(tableId).DataTable(
            {     
                dom: 'frtip',
                order: ([1,'asc']),
                data:trig_data,
                paging: false,
                select: true,
                searching: false,
                ordering: false,
                info: true,
                columns:[
                    {
                        title: "Select",
                        data:"id",
                        checkboxes: {
                            selectRow: true,
                        },
                        render: function(data, type, row) {
                            return '<input type="checkbox" name="obj_import_id" value="' + data + '" class="dt-checkboxes obj_import_id">';
                        }
                    },
                    {
                        title: "Name",
                        data:"name",
                        render: function(data, type, row) {
                            return '<input class="obj_import_name" type="text" style="min-width: 300px" name="obj_import_name_' + row.id + '" value="' + row.name + '" >';
                        }
                    }
                    
                ],
            }
        );
        $(tableId+' tbody').on( 'click', 'input[type="text"]', function (e) {
            e.stopPropagation();
        });
        var is_global_handler = function() {
            var is_global = $("#id_is_global").is(':checked');
            $(".form-group.global .owner").attr("disabled", is_global);
        };
        is_global_handler();
        $("#id_is_global").change(is_global_handler);


        var override_global_handler = function() {
            var override_global = $("#id_override_global").is(':checked');
            $("#id_is_global").attr("disabled", !override_global);
            is_global_handler();
        };

        override_global_handler();
        $("#id_override_global").change(override_global_handler);

        var obj_import_id_handler = function(){
            if($(".obj_import_id:checked").length>0){
                $("#obj_import_id_submit").removeAttr('disabled');
            }else{
                $("#obj_import_id_submit").prop("disabled", true);
            }
        };
        obj_import_id_handler();
        resultsTable.on("select", obj_import_id_handler);
        resultsTable.on("deselect", obj_import_id_handler);
    });
</script>

{% endblock %}
