{% extends 'base.html' %}
{% load static ui_tags %}

{% block topnav %}
<h1>Create Redmine Issue</h1>
{% endblock %}

{% block content %}

<div id="redmine-issue">

    {% if form.non_field_errors %}
        <div class="alert alert-danger" id="divError">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <form method="post" class="form-horizontal form-label-left">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-4">
                <div class="x_panel">
                    <div class="x_content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">{{ form.project.label_tag }}</label>
                                <div id="project">
                                    {% for proj in form.project %}
                                        {{ proj }}
                                    {% endfor %}
                                    {% if form.project.errors %}{{ form.project.errors.as_text }}{% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">{{ form.tracker.label_tag }}</label>
                                <div id="tracker">
                                    <div id="id_tracker"></div>
                                    {% if form.tracker.errors %}{{ form.tracker.errors.as_text }}{% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">{{ form.subject.label_tag }}</label>
                        <div>
                            {{ form.subject }}
                            {% if form.subject.errors %}{{ form.subject.errors.as_text }}{% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">{{ form.description.label_tag }}</label>
                        <div>
                            {{ form.description }}
                            {% if form.description.errors %}{{ form.description.errors.as_text }}{% endif %}
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-8">
                <div id="fields-container" class="x_panel" style="display:none;">
                <div class="form-group col-md-6 hide optional-field" data-field="serial_number">
                    <label class="control-label">{{ form.serial_number.label_tag }}</label>
                    <div>
                        {{ form.serial_number }}
                        {% if form.serial_number.errors %}{{ form.serial_number.errors.as_text }}{% endif %}
                    </div>
                </div>
                <div class="form-group col-md-6 hide optional-field" data-field="item">
                    <label class="control-label">{{ form.item.label_tag }}</label>
                    <div>
                        {{ form.item }}
                        {% if form.item.errors %}{{ form.item.errors.as_text }}{% endif %}
                    </div>
                </div>
                <div class="form-group col-md-6 hide optional-field" data-field="item_type">
                    <label class="control-label">{{ form.item_type.label_tag }}</label>
                    <div>
                        {{ form.item_type }}
                        {% if form.item_type.errors %}{{ form.item_type.errors.as_text }}{% endif %}
                    </div>
                </div>
                <div class="form-group col-md-6 hide optional-field" data-field="oem">
                    <label class="control-label">{{ form.oem.label_tag }}</label>
                    <div>
                        {{ form.oem }}
                        {% if form.oem.errors %}{{ form.oem.errors.as_text }}{% endif %}
                    </div>
                </div>
                <div class="form-group col-md-6 hide optional-field" data-field="reference_designator">
                    <label class="control-label">{{ form.reference_designator.label_tag }}</label>
                    <div>
                        {{ form.reference_designator }}
                        {% if form.reference_designator.errors %}{{ form.reference_designator.errors.as_text }}{% endif %}
                    </div>
                </div>
                <div class="form-group col-md-6 hide optional-field" data-field="disposition">
                    <label class="control-label">{{ form.disposition.label_tag }}</label>
                    <div>
                        {{ form.disposition }}
                        {% if form.disposition.errors %}{{ form.disposition.errors.as_text }}{% endif %}
                    </div>
                </div>
                <div class="form-group col-md-6 hide optional-field" data-field="report_date">
                    <label class="control-label">{{ form.report_date.label_tag }} <span class="required">*</span></label>
                    <div>
                        {{ form.report_date }}
                        {% if form.report_date.errors %}{{ form.report_date.errors.as_text }}{% endif %}
                    </div>
                </div>
                <div class="form-group col-md-6 hide optional-field" data-field="issue_date">
                    <label class="control-label">{{ form.issue_date.label_tag }} <span class="required">*</span></label>
                    <div>
                        {{ form.issue_date }}
                        {% if form.issue_date.errors %}{{ form.issue_date.errors.as_text }}{% endif %}
                    </div>
                </div>
                <div class="form-group col-md-6 hide optional-field" data-field="change_date">
                    <label class="control-label">{{ form.change_date.label_tag }} <span class="required">*</span></label>
                    <div>
                        {{ form.change_date }}
                        {% if form.change_date.errors %}{{ form.change_date.errors.as_text }}{% endif %}
                    </div>
                </div>
                <div class="form-group col-md-6 hide optional-field" data-field="completion_date">
                    <label class="control-label">{{ form.completion_date.label_tag }} <span class="required">*</span></label>
                    <div>
                        {{ form.completion_date }}
                        {% if form.completion_date.errors %}{{ form.completion_date.errors.as_text }}{% endif %}
                    </div>
                </div>
                <div class="form-group col-md-6 hide optional-field" data-field="location">
                    <label class="control-label">{{ form.location.label_tag }} <span class="required">*</span></label>
                    <div>
                        {{ form.location }}
                        {% if form.location.errors %}{{ form.location.errors.as_text }}{% endif %}
                    </div>
                </div>
                <div class="form-group col-md-6 hide optional-field" data-field="platform">
                    <label class="control-label">{{ form.platform.label_tag }}</label>
                    <div>
                        {{ form.platform }}
                        {% if form.platform.errors %}{{ form.platform.errors.as_text }}{% endif %}
                    </div>
                </div>
                <div class="form-group col-md-6 hide optional-field" data-field="organization">
                    <label class="control-label">{{ form.organization.label_tag }} <span class="required">*</span></label>
                    <div>
                        {{ form.organization }}
                        {% if form.organization.errors %}{{ form.organization.errors.as_text }}{% endif %}
                    </div>
                </div>
                <div class="form-group col-md-6 hide optional-field" data-field="condition">
                    <label class="control-label">{{ form.condition.label_tag }}</label>
                    <div>
                        {{ form.condition }}
                        {% if form.condition.errors %}{{ form.condition.errors.as_text }}{% endif %}
                    </div>
                </div>
                <div class="form-group col-md-6 hide optional-field" data-field="priority">
                    <label class="control-label">{{ form.priority.label_tag }}</label>
                    <div>
                        {{ form.priority }}
                        {% if form.priority.errors %}{{ form.priority.errors.as_text }}{% endif %}
                    </div>
                </div>
            </div>
            </div>

        </div>

        <div>
            {% if alert %}
            <a href="{% url 'alert.detail' alert.id %}" class="btn btn-default">Cancel</a>
            {% endif %}
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}

<script>
    $(function(){
        function change_project(tracker_id) {
            var project_id = $("#project input[type=radio]:checked").val();
            if (!project_id) {
                return;
            }

            $.get("/alert/ajax/redmine_trackers/" + project_id, function(data){
                $("#id_tracker").empty();

                $.each(data, function(id){
                    rdo = $('<input>', {
                        type: 'radio',
                        value: id,
                        name: 'tracker'
                    });

                    lbl = $('<label>', {
                        text: data[id]
                    });

                    lbl.prepend(rdo);
                    $("#id_tracker").append(lbl);

                    if (tracker_id == id) {
                        rdo.attr('checked', 'checked');
                        change_tracker();
                    }
                });
            })
        }

        function change_tracker() {
            $("#fields-container").fadeIn(0);
            var tracker_id = $("#tracker input[type=radio]:checked").val();
            if (!tracker_id) {
                return;
            }

            $.get("/alert/ajax/redmine_tracker_details/" + tracker_id, function(data){
                $(".optional-field").each(function(){
                    var field = $(this).attr("data-field");
                    var visible = ($.inArray(field, data) > -1);

                    $(this).toggleClass('hide', !visible);
                });
            })
        }

        $(function(){
            change_project({{ form.tracker.value|default:'' }});

            $(".datepicker").datepicker();
            $("#project input[type=radio]").click(change_project);
            $("#tracker").on('click', 'input[type=radio]', change_tracker);
        });
    });
</script>

{% endblock %}