{% extends 'base.html' %}
{% load static %}
{% load ui_tags %}

{% block topnav %}
<h1>Create Manual Alert</h1>
{% endblock %}

{% block content %}

{% asset_nav asset.id deployment.code plot_pages current_asset_page %}

<div id="manual-alert" class="x_panel">
    <div class="x_content">

        <form method="post" class="form-horizontal form-label-left" id="manual_alert_form">
            {% csrf_token %}
            {{ form.asset }}
            {{ form.deployment }}
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">{{ form.asset.label_tag }}</label>
                        <div>{{ asset.code }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">{{ form.deployment.label_tag }}</label>
                        <div>{{ deployment.code }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">{{ form.trigger.label_tag }} <span
                                class="required">*</span></label>
                        <div>
                            {{ form.trigger }}
                            <a id="view-trigger" class="hide" href="#"><i class="fa fa-search"></i></a>
                            {% if form.trigger.errors %}{{ form.trigger.errors.as_text }}{% endif %}
                        </div>
                    </div>
                    <div class="form-group" id="name-panel">
                        <label class="control-label">{{ form.name.label_tag }} <span class="required">*</span></label>
                        <div>
                            {{ form.name }}
                            {% if form.name.errors %}{{ form.name.errors.as_text }}{% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">{{form.roll_up.label_tag}}</label>
                        {{form.roll_up}}
                    </div>
                    <div class="form-group">
                        <label class="control-label">{{form.roll_down.label_tag}}</label>
                        {{form.roll_down}}
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-1">
                        <div class="form-group">
                            <label class="control-label">{{ form.severity.label_tag }} <span
                                    class="required">*</span></label>
                            <div>
                                {{ form.severity }}
                                {% if form.severity.errors %}{{ form.severity.errors.as_text }}{% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{ form.details.label_tag }} <span
                                    class="required">*</span></label>
                            <div>
                                {{ form.details }}
                                {% if form.details.errors %}{{ form.details.errors.as_text }}{% endif %}
                            </div>
                        </div>
                    </div>
            </div>
            <div style="text-align:center" class="col-md-12"><h2>Mandatory Recipients</h2></div>
            <table id="trigger_sub" class="table table-striped table-bordered" width="60%">
            <thead>
                <tr>
                    <th rowspan="2" class="text-center">User</th>
                    <th class="text-center" colspan="2">Notify Immediately By</th>
                    {% comment %}<th class="text-center">Daily Summary</th>{% endcomment %}
                </tr>
                <tr>
                    <th class="text-center">
                        <label>
                            <input type="checkbox" id="select-all-email" />
                            Email
                        </label>
                    </th>
                    <th class="text-center">
                        <label>
                            <input type="checkbox" id="select-all-text" />
                            Text
                        </label>
                    </th>
                    {% comment %}
                    <th class="text-center">
                        <label>
                            <input type="checkbox" id="select-all-summary" />
                            Email
                        </label>
                    </th>
                    {% endcomment %}
                </tr>
            </thead>
            <tbody>
            {% for value, text in form.owner.field.choices %}
                {% if value %}
                <tr>
                    <td class="text-center">{{text}}</td>
                    <td class="text-center">
                        <input value="{{value}}" class="email_immediately" type="checkbox"{% if value in email_selected %} checked {% endif %} />
                    </td>
                    <td class="text-center">
                        <input value="{{value}}" class="text_immediately" type="checkbox" {% if value in text_selected %} checked {% endif %}/>
                    </td>
                    {% comment %}
                    <td class="text-center">
                        <input value="{{value}}" class="email_daily" type="checkbox" {% if value in summary_selected %} checked {% endif %}/>
                    </td>
                    {% endcomment %}
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
            <a href="{% url 'asset.overview' asset.id deployment.code %}" id="btnCancel" class="btn btn-default">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
            <div id="trigger-detail" class="dialog-box"></div>
            <input type="hidden" id="email_notification" name="email_immediate" />
            <input type="hidden" id="text_notification" name="text_immediate" />
            <input type="hidden" id="email_summary" name="email_daily" />
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        var groupDataId = 'group-{{ asset.group_id }}';
        var platformId = 'platform-{{ asset.platform_id }}';
        SetupCurrentSideNavMenu(groupDataId, platformId);
    });
    $(function(){
        $("#id_trigger").change(function(e){
            change_trigger();
        });

        $("#view-trigger").click(function(e) {
            var id = $("#id_trigger").val();
            var url = "{% url 'alert.view_trigger' 0 %}".replace(/\d+$/i, id);

            return open_dialog_box(e, '#trigger-detail', url);
        });

        function change_trigger(id) {
            var id = $("#id_trigger").val();
            var severitySelect = $("#id_severity");

            $("#name-panel").toggleClass('hide', (id != ''));
            $("#view-trigger").toggleClass('hide', (id == ''));

            if (id == '') {
                severitySelect.prop('disabled', false);
            } else {
                $.ajax({
                    type: "GET",
                    url: '/variable/ajax/get_trigger_by_id/' + id,
                    data: {},
                    success: function(response) {
                        severity_id = response.severity_id;
                        $('#id_severity option[value="' + severity_id + '"]');
                        severitySelect.prop('disabled', 'disabled');
                    }
                });
            }
        }

        Common.init_dialog_box("#trigger-detail", 300);
        change_trigger();
    });

    $(function() {
    $("#manual_alert_form").validate({
        rules: {
            name: "required",
            triggered_value: "required",
            details: "required"
        },
        messages: {
            name: "Name is required",
            triggered_value: "Triggered value is required",
            details: "Details are required"
        },
        errorElement: "em",
        errorPlacement: function (error, element) {
            // Add the `help-block` class to the error element
            error.addClass("help-block");
            if ( element.prop("type") === "checkbox" ) {
                error.insertAfter(element.parent("label"));
            } else {
                error.insertAfter(element);
            }
        },
        highlight: function (element, errorClass, validClass ) {
            $(element).closest(".form-group").addClass("has-error");
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).closest(".form-group").removeClass("has-error");
        }
    });
        $("#manual_alert_form").submit(function(e) {
            var variables = [];
            var email_immediate = [];
            var text_immediate = [];
            var email_daily = [];
            var isValid = true;

            $(".email_immediately:checkbox:checked").each(function() {;
                email_immediate.push($(this).val());
            });

            $(".text_immediately:checkbox:checked").each(function() {
                text_immediate.push($(this).val());
            });

            $(".email_daily:checkbox:checked").each(function() {
                email_daily.push($(this).val());
            });

    		if (!isValid) {
    		    e.preventDefault();
            }

            $("#email_notification").val(email_immediate);
    		$("#text_notification").val(text_immediate);
    		$("#email_summary").val(email_daily);
    		return true;
        });
    });

    $("#select-all-email").change(function() {
        if(this.checked) {
            $(".email_immediately").prop("checked", true);
        } else {
            $(".email_immediately").prop("checked", false);
        }
    });
    $("#select-all-text").change(function() {
        if(this.checked) {
            $(".text_immediately").prop("checked", true);
        } else {
            $(".text_immediately").prop("checked", false);
        }
    });
    $("#select-all-summary").change(function() {
        if(this.checked) {
            $(".email_daily").prop("checked", true);
        } else {
            $(".email_daily").prop("checked", false);
        }
    });

</script>
{% endblock %}