{% extends 'base.html' %}
{% load static %}
{% load ui_tags %}

{% block topnav %}
        <h1>Import Triggers</h1>
{% endblock %}

{% block content %}

<div class="x_panel">
    
    <h5>Successfully imported these Triggers:</h5>
    {% for trig in trigs_imported %}
        <div><a href="{% url 'alert.edit_trigger' trig.id %}" > {{trig.name}}</a></div>
    {% endfor %}
</div>
{% if error_objs %}
    <h5>These variables could not be matched to assets:</h5>
    {% for msg in error_objs %}
    <div style="display:block">
        <div style="display:inline-block">
            <div class="alert-error"> {{msg}}</div>
        </div>
    </div>
    {% endfor %}
{% endif %}


{% endblock %}

{% block scripts %}

{% asset_picker_scripts 'assetpicker' %}

{% endblock %}
