{% extends 'base.html' %}
{% load static %}
{% load ui_tags %}

{% block topnav %}
        <h1>Import Triggers</h1>
{% endblock %}

{% block content %}

<div class="x_panel">
    <div class="x_content">
        <h2>Use the form below to upload triggers exported from a backup or another OMS++ instance. The file being uploaded must end in .json.</h2>

        <div style="margin-bottom:10px;" >
            {% if error_msg %}<div class="error-message">{{ error_msg }}</div>{% endif %}
        </div>

        <form method="POST" action="{% url 'alert.confirm_import_triggers' %}" enctype="multipart/form-data"  >
        {% csrf_token %}
        <div>
            {{form.file}}
            <div class="error-message">{% if form.file.errors %}{{ form.file.errors.as_text }}{% endif %}</div>
        </div>
        <input type="submit" class="btn btn-primary" style="margin-top:5px" value="Import JSON File"/>
        </form>
    </div>
</div>


{% endblock %}

{% block scripts %}

{% asset_picker_scripts 'assetpicker' %}

{% endblock %}
