{% extends 'base.html' %}
{% load static %}
{% load ui_tags %}

{% block topnav %}
<h1>Triggers</h1>
{% endblock %}

{% block content %}


<div class="alert alert-success alert-dismissible hide" style="clear:left" id="purge-success">
    <span id="purge-message"></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="x_panel">
    <div class="x_content" id="trigger-list">
        <div class="row disposition-filters" id="dispositions">
            <div class = 'col-md-6 text-left'>
                <select class="asset-select pull-left">
                    <option value="">All Platforms</option>
                    {% for platform in platforms %}
                        <option value="{{ platform.id }}">{{ platform.name }} ({{ platform.deployment.name }})</option>
                    {% endfor %}
                </select>
            </div>
            <div class = 'col-md-6 text-right'>
                <a href="{% url 'alert.edit_trigger' '0' %}" style="margin-left: 10px" class="btn btn-sm btn-primary pull-right">Add New Trigger</a>
                <button style="margin-left: 10px"  id="btn-export-selected" class="btn btn-sm btn-primary pull-right">Export Selected</button>
                <a style="" href="{% url 'alert.import_triggers' %}" id="btn-import-plots" class="btn btn-sm btn-primary pull-right">Import Triggers</a>
            </div>
            <div class="col-md-6 text-left">
                Disposition:
                {% for disposition in dispositions %}
                <label>
                    <input
                            id="disposition_input"
                            type="checkbox"
                            data-value="{{ disposition.id }}"
                            {% if disposition.id in shown_dispositions %}checked="checked"{% endif %} />
                    {{ disposition.name }}
                </label>
                {% endfor %}
            </div>
        </div>
        <table id="triggers" class="table table-striped table-bordered" width="100%"></table>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var triggersTable;
    var currentUserId = {{ request.user.id }};
    var isSuperuser = {{ request.user.is_superuser|lower }};


    function canEdit(isGlobal, userId)
    {
        var editShared = {{ perms.core.edit_shared_items|yesno:"true,false" }};
        var editOthers = {{ perms.core.edit_other_items|yesno:"true,false" }};

        if (isGlobal && !editShared) return false;
        if (!isGlobal && currentUserId !== userId && !editOthers) return false;

        return true;
    }

    function canDelete(isGlobal, userId)
    {
        var deleteShared = {{ perms.core.delete_shared_items|yesno:"true,false" }};
        var deleteOthers = {{ perms.core.delete_other_items|yesno:"true,false" }};

        if (isGlobal && !deleteShared) return false;
        if (!isGlobal && currentUserId !== userId && !deleteOthers) return false;

        return true;
    }

    function canClone(isGlobal, userId)
    {
        var cloneShared = {{ perms.core.clone_shared_items|yesno:"true,false" }};
        var cloneOthers = {{ perms.core.clone_other_items|yesno:"true,false" }};

        if (isGlobal && !cloneShared) return false;
        if (!isGlobal && currentUserId !== userId && !cloneOthers) return false;

        return true;
    }

    $(function(){

        var platform_id = Common.getParameterByName('platform_id', window.location.href) || 'no asset';

        if (platform_id !== '') {
            $('.asset-select').val(platform_id);
        }

    	triggersTable = $("#triggers").DataTable({
            dom: "frtip",
            pageLength: 25,
            select: true,
            order: [],
            ajax: {
                    url: '/alert/ajax/trigger_list',
                    method: 'POST',
                    data: function(d) {
                        let checked_disps = []

                        d.asset_id = $(".asset-select").val()
                        $("#dispositions input[type=checkbox]").each(function(){
                            const id = $(this).attr('data-value');
                            $("div[data-disposition-id=" + id + "]").toggleClass('hide', !$(this).is(":checked"));
                            if ($(this).is(":checked")) {
                                checked_disps.push(id)
                            }
                        })
                        const disp_id_string = checked_disps.join(',')
                        d.trigger_disposition = disp_id_string
                    }
            },
            columns: [
                {
                    title: "",
                    data: "id",
                    checkboxes: {
                        selectRow: true,
                    }
                },
                {
                    title: "Id",
                    data: "id",
                    visible: false
                },
                {
                    title: "Name",
                    data: "name"
                },
                {
                    title: "Category",
                    data: "category__name"
                },
                {
                    title: "Severity",
                    data: "severity__name"
                },
                {
                    title: "Owner",
                    data: "id",
                    render: function(data, type, row) {
                        if (row.is_global === true)
                            return "System";

                        if (!row.created_by__first_name && !row.created_by__last_name)
                            return row.created_by__username;

                        return row.created_by__last_name + ", " + row.created_by__first_name;
                    }
                },
                {
                    title: "Duration",
                    data: "duration",
                    render: function(data, type, row) {
                        return row.duration + ' ' + row.duration_code__name;
                    }
                },
                {
                    title: "Asset",
                    data: "id",
                    render: function(data, type, row) {
                        var url = "/asset/overview/" + row.asset__id + "/" + row.asset__deployment__code;

                        return "<a href='" + url + "'>" + row.asset__name + "</a>";
                    }
                },
                {
                    title: "Deployment",
                    data: "asset__deployment__code"
                },
                {
                    title: "Platform",
                    data: "id",
                    render: function(data, type, row) {
                        var url = "/asset/overview/" + row.asset__platform__id + "/" + row.asset__deployment__code;
                        var name = (row.asset__platform__name ? row.asset__platform__name : row.asset__name);

                        return "<a href='" + url + "'>" + (name ? name : "") + "</a>";
                    }
                },
                {
                    title: "Shared",
                    data: "is_global",
                    render: function(data) {
                        return (data ? "Yes" : "No");
                    }
                },
                {
                    title: "Date Created",
                    data: "created",
                    render: Common.dt_format_date_time
                },
                {
                    title: "Alerts",
                    data: "num_alerts"
                },
                {
                    title: "", // Clone
                    data: "id",
                    orderable: false,
                    render: function(data, type, row) {
                        if (!canClone(row.is_global, row.created_by_id))
                            return "";

                        return "<a id='linkClone" + data + "' href='/alert/clone_trigger/" + data + "'>Clone</a>";
                    }
                },
                {
                    title: "", // Edit
                    data: "id",
                    orderable: false,
                    render: function(data, type, row) {
                        var text = canEdit(row.is_global, row.created_by_id) ? "Edit" : "View";

                        return "<a id='linkEdit" + data + "' href='/alert/edit_trigger/" + data + "'>" + text + "</a>";
                    }
                },
                {
                    title: "", // Purge
                    data: "id",
                    orderable: false,
                    visible: isSuperuser,
                    render: function(data, type, row) {
                        return "<a href='#' data-trigger='" + data + "' class='purge-trigger'>Purge</a>";
                    }
                },
                {
                    title: "", // Delete
                    data: "id",
                    orderable: false,
                    render: function(data, type, row) {
                        if (!canDelete(row.is_global, row.created_by_id))
                            return "";

                        return "<a href='#' class='delete-link' data-trigger=" + data + " data-alerts='" + row.num_alerts + "' data-is-global='" + row.is_global + "'>Delete</a>";
                    }
                }
            ],
            paging: true,
            searching: true,
            ordering: true,
            info: true
        });

        $('#triggers').on( 'order.dt', function () {
            var $table = $('#triggers').DataTable()
            var order = $table.order();
            if(order && order.length == 1){
                $column_id = 7 // Deployment is column 7
                if([6, 8].includes(order[0][0])){ // Only sort by deployment when sorting by 6-Asset, 8-Platform
                    $table.order([[order[0][0], order[0][1]], [$column_id, order[0][1]]]).draw();
                }
            }
        } );

        $('#triggers tbody').on('click', '.delete-link', function() {
            var triggerId = $(this).data("trigger");
            var alerts = $(this).data("alerts");
            var isGlobal = $(this).data("is-global");

            var canDeleteWithAlerts = {{ perms.core.delete_share_items_with_alerts|yesno:"true,false" }};
            if (isGlobal && parseInt(alerts) > 0 && !canDeleteWithAlerts) {
                alert("Cannot delete Trigger: Alert instances exist. This Trigger can only be deleted by an Admin.")
                return;
            }

            if (!confirm('Warning: Deleting this Trigger will also purge all of its alerts instances from the system!\n\nAre you sure you want to delete this trigger?'))
                return;

            $.ajax({
                type: "POST",
                url: '/alert/ajax/delete_trigger',
                data: {'trigger_id': triggerId},
                success: function(response) {
                    triggersTable.ajax.reload(null,false);
                }
            });
        });

        {% if request.user.is_superuser %}
        $("#triggers tbody").on("click", ".purge-trigger", function(e){
            e.preventDefault();

            if (!confirm("Are you sure you want to delete all alerts that were generated by this trigger?"))
                return;

            var triggerId = $(this).data("trigger");

            $.ajax({
                type: "POST",
                url: '/alert/ajax/purge_trigger',
                data: {'trigger_id': triggerId},
                success: function(response) {
                    if (response.success) {
                        $("#purge-success")
                            .toggleClass("hide", false)
                            .toggleClass("alert-success", response.failed == 0)
                            .toggleClass("alert-danger", response.failed > 0);

                        if (response.amount > 0 && response.failed == 0) {
                            $("#purge-message").text("The " + response.amount + " alert(s) for the selected trigger have been purged")
                        } else if (response.failed > 0) {
                            $("#purge-message").text(response.amount + " alert(s) for the selected trigger have been purged, but " + response.failed + " could not be purged")
                        } else {
                            $("#purge-message").text("The selected trigger did not have any alerts to purge")
                        }
                    }
                }
            });
        });
        {% endif %}

        $('.asset-select').change(function(){
            var updatedUrl = "{% url 'alert.manage_triggers' %}?platform_id=" + $(this).val()

            window.history.replaceState(null, null, updatedUrl);

            triggersTable.ajax.reload();
        })
        $("#dispositions input[type=checkbox]").click(function(){

            triggersTable.ajax.reload()
        });
       
        $('#btn-export-selected').click(function(e) {
            var target_entity_ids = [];
            var data = triggersTable.rows('.selected').data().toArray();
            if(data.length == 0 ){
                    alert('Please select at least one trigger to export.');
                    return;
            }
            var inputs = '{% csrf_token %}';
            for(var i=0;i<data.length; i++){
                inputs += '<input type="hidden" name="target_entity_id" value="'+data[i].id+'">'
            }           
            var baseURL = "{% url 'alert.export_triggers' %}";

            Common.add_success_message("Triggers exported to json file.");
            
            var form = $('<form action="'+baseURL+'" method="POST">'+inputs+'</form>')
            $(document.body).append(form);
            form.submit();
            triggersTable.rows().deselect();
            

        });
        
    });
</script>
{% endblock %}