{% extends 'base.html' %}
{% load static %}
{% load ui_tags %}

{% block topnav %}
<h1>Resolve Alert</h1>
{% endblock %}

{% block content %}
    <div class="x_panel">

        <div class="x_content acknowledge-alert">
            <form class="form-horizontal form-label-left" id="ResolveAlertForm">
                <div class="col-md-6">

                    <div class="form-group">
                        <label class="control-label">Trigger</label>
                        <div>
                            {{ alert.trigger.name }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Date/Time</label>
                        <div>
                            {{ alert.created|date:"n/j/y g:iA"|lower }} UTC
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Details</label>
                        <div>
                            {{ alert.details }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="alert alert-success" style="display:none" id="divSucess">
                        <strong>Success!</strong> The alert has been resolved. <div class="pull-right"><a href="/" class="btn-default btn-sm"><i class="fa fa-arrow-circle-left"></i> Back to Hot List</a></div>
                    </div>
                    <div class="form-group" id="divActionsPerformedForm">
                        <label class="control-label">Actions Performed</label>
                            <textarea class="form-control" id="txtActionComments" name="ActionComments"></textarea>
                            <br /><span id="lblActionComments"></span>
                    </div>

                    <div class="form-group">
                        <input type="hidden" id="AlertID" value="{{ alert.id }}">
                        <button type="submit" id="btnSubmit" data-alert-id="{{ alert.id }}" class="btn btn-primary">Resolve Alert</button>
                    </div>
                </div>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">

$(document).ready(function() {
    $("#ResolveAlertForm").validate({
            rules: {
                ActionComments: "required"
            },
            messages: {
                ActionComments: "Actions Performed description is required"
            },
            errorElement: "em",
            errorPlacement: function (error, element) {
                // Add the `help-block` class to the error element
                error.addClass("help-block");

                if ( element.prop("type") === "checkbox" ) {
                    error.insertAfter(element.parent("label"));
                } else {
                    error.insertAfter(element);
                }
            },
            highlight: function (element, errorClass, validClass ) {
                $(element).closest(".col-md-6").addClass("has-error").removeClass("has-success");
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).closest(".col-md-6").addClass("has-success").removeClass("has-error");
            }
        } );
    });


    $(function(){
        $('#btnSubmit').on('click', function(e) {
            e.preventDefault();

            var myform = $("#ResolveAlertForm");
            myform.validate();

            if(myform.valid()) {
                $.ajax({
                    url: '/alert/update_status',
                    method: 'POST',
                    data: {
                        'alert_id': $(this).attr('data-alert-id'),
                        'status_id': 4,
                        'reason': $("#txtActionComments").val()
                    },
                    success:function(resp) {
                        var obj = resp;

                        if(obj.success == "true") {
                            $("#btnSubmit").hide();
                            $("#divSucess").show();

                            var textbox = $("#txtActionComments");
                            var label = $("#lblActionComments");
                     
                            //Assign the value of TextBox to Label.
                            label.html(textbox.val());

                            textbox.hide();
                            label.show();

                        }
                    }
                });

                return false;
            }
        });
    });

    </script>
{% endblock %}