<div class="">
    <form class="label-left">
        <div class="form-group">
            <label class="control-label">Expression:</label>
            <span>{{ trigger.expression }}</span>
        </div>
        <div class="form-group">
            <label class="control-label">Duration:</label>
            <span>{{ trigger.duration_label }}</span>
        </div>
        <div class="form-group">
            <label class="control-label">Severity:</label>
            <span>{{ trigger.severity.name }}</span>
        </div>
        <div class="form-group">
            <label class="control-label">Created:</label>
            <span>{{ trigger.created|date:"n/j/y g:iA"|lower }} UTC</span>
        </div>
        <div class="form-group">
            <label class="control-label">Shared:</label>
            <span>{{ trigger.is_global }}</span>
        </div>
        <div class="form-group">
            <label class="control-label">Asset:</label>
            <span>{{ trigger.asset.code }}</span>
        </div>
        <div class="form-group">
            <label class="control-label">Platform:</label>
            <span>{{ trigger.asset.platform.code }}</span>
        </div>
        <div style="margin-top: 30px; text-align: center">
            <a class="btn btn-primary btn-sm" id="edit_trigger" style="font-size: 12px;padding: 2px 8px;" href="/alert/edit_trigger/{{trigger.id}}">Edit Trigger</a>
        </div>
    </form>
</div>

<script type="text/javascript">
if (window.jQuery) {
    $('#trigger-detail').dialog('option', 'title', '{{ trigger.name }}');
}

</script>