{% extends 'base.html' %}
{% load static %}
{% load ui_tags %}

{% block topnav %}
        <h1>Import Plots</h1>
{% endblock %}

{% block content %}

<div class="x_panel">
    
    <h5>Successfully imported these Plots:</h5>
    {% for plot in plots_imported %}
        <div><a href="{% url 'plots.edit_plot' plot.asset.id plot.asset.deployment.id plot.id %}" > {{plot.name}}</a></div>
    {% endfor %}
</div>
{% if error_objs %}
    <h5>These variables could not be matched to assets:</h5>
    {% for msg in error_objs %}
    <div style="display:block">
        <div style="display:inline-block">
            <div class="alert-error"> {{msg}}</div>
        </div>
    </div>
    {% endfor %}
{% endif %}


{% endblock %}

{% block scripts %}

{% asset_picker_scripts 'assetpicker' %}

{% endblock %}
