{% extends 'base.html' %}
{% load static %}
{% load ui_tags %}

{% block topnav %}
        <h1>Import L3 Variables</h1>
{% endblock %}

{% block content %}

<div class="x_panel">
    
    <h5>Successfully imported these Variables:</h5>
    {% for l3 in l3s_imported %}
        <div><a href="{% url 'variable.edit_l3_variable' l3.id %}" > {{l3.name}}</a></div>
    {% endfor %}

    {% if error_objs %}
    <h5>These variables could not be matched to assets:</h5>
        {% for msg in error_objs %}
        <div style="display:block">
            <div style="display:inline-block">
                <div class="alert-error"> {{msg}}</div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>


{% endblock %}

{% block scripts %}

{% asset_picker_scripts 'assetpicker' %}

{% endblock %}
