{% extends 'base.html' %}
{% load static %}
{% load ui_tags %}

{% block topnav %}
    {% if variable.name %}
        <h1>L3 Variable: {{ variable.name }}</h1>
    {% else %}
        <h1>New L3 Variable</h1>
    {% endif %}
{% endblock %}

{% block content %}

<div class="x_panel">
    <div class="x_content">
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <form id="l3_variable_form" method="post" class="form-horizontal form-label-left">
            {% csrf_token %}
            <div class="row">
                <div id="left_edit_controls" class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Asset: <span class="required">*</span></label>
                        <br/>
                        <div class="asset-picker">
                            {% asset_picker 'assetpicker' %}
                        </div>

                        <div class="form-group">
                            {% if perms.core.edit_shared_items %}
                                <label class="control-label">Is Shared</label>
                                {{ form.is_global }}
                            {% endif %}
                        </div>

                        {% if perms.core.edit_shared_items %}
                            {% if variable.is_global %}
                                <div class="form-group global" hidden>
                                    <label class="control-label">{{ form.owner.label_tag }}</label>
                                    {{ form.owner }}
                                </div>
                            {% else %}
                                <div class="form-group global">
                                    <label class="control-label">{{ form.owner.label_tag }}</label>
                                    <div style="width: 80%">{{ form.owner }}</div>
                                </div>
                            {% endif %}
                        {% endif %}

                        <label class="control-label">Variable</label>
                        <div class="row">
                            <div class="col-md-8">
                                <select style="width:100%;" id="selectVariable" class="masterTooltip form-control" title="Please select an option.">
                                </select>
                            </div>
                            <div class="control-label">
                                <a id="buttonAdd" class="btn btn-primary">Add</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">
                            {{ form.name.label_tag }}
                            <span class="required">*</span>
                        </label>
                        <br/>
                        <div>
                            {{ form.name }}
                            {% if form.name.errors %}{{ form.name.errors.as_text
                            }}{% endif %}
                        </div>
                        <label class="control-label">
                            {{ form.units.label_tag }}
                            <span class="required">*</span>
                        </label>
                        <br/>
                        <div>
                            {{ form.units }}
                            {% if form.units.errors %}{{ form.units.errors.as_text }}{% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label"><label>Interpolation Value</label></label>
                        <div class="row">
                            <div class="col-md-6">
                                <input id="duration" class="form-control" maxlength="12"
                                   {% if duration %} value="{{duration}}" {% endif %} >
                            </div>
                            <div class="col-md-6">
                                {{ form.duration_code }}
                                {% if form.duration_code.errors %} {{form.duration_code.errors.as_text}}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>

            <br/>

            <table id="components" class="table table-striped table-bordered" width="100%" ></table>

            <div class="col-md-12" style="padding: 0px;">
                <div class="form-group col-md-8" style="padding-left: 0px;">
                    <label class="=control-label col-md-2">{{ form.expression.label_tag}} <span
                            class="required">*</span></label><div id="validation_error"></div>
                    {{ form.expression }}
                </div>
                <div class="well col-md-4 expression-well" style="margin-bottom: 0px;margin-top:28px;height: 225px;">
                    <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>
                    <div class="expression-info" style="margin-left: 45px;margin-top: -45px;">
                        <br>
                        <b>Supported operators:</b><br>
                                Logical operators: &, |, ~<br>
                                Comparison operators: &lt;, &lt;=, ==, !=, &gt;=, &gt;<br>
                                Unary arithmetic operators: -<br>
                                Binary arithmetic operators: +, -, *, /, **, %, &lt;&lt;, &gt;&gt;<br><br>
                        <a href="http://numexpr.readthedocs.io/en/latest/user_guide.html" target="_blank">For more information, please see the documentation for NumExpr, the library used to process expressions</a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <a href="{% url 'variable.manage_l3_variables' %}" id="btnCancel" class="btn btn-default">Cancel</a>
                <a id="btnValidate" class="btn btn-primary">Validate</a>
                {% if not is_readonly %}
                    <input type="submit" class="btn btn-primary" value="Save" />
                {% endif %}
                <button id="plot_preview" type="button" class="btn btn-primary">Preview</button>
            </div>
            <input type="hidden" id="deletionComponentIds" name="deletionComponentIds"/>
            <input type="hidden" id="saveComponents" name="saveComponents" />
            <input type="hidden" id="durationValue" name="duration" />
        </form>
    </div>
    <div class="col-md-12">
        <div class="x_content">
            <h4 id="plot-preview-header" style="display: none">Plot Preview</h4>
            <div id="preview_error" style="text-align:left;color:red"></div>
            <div id="l3_plot"></div>
            <div id="variable_plots"></div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}

{% asset_picker_scripts 'assetpicker' %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        Pages.EditL3Variable.init(
            "{{ variable.asset.id }}",
            "{{ variable.asset.name }}",
            "{{ variable.asset.platform.name }}",
            "{{ variable.asset.deployment.code }}"
        );
    });
</script>

<script type="text/javascript">
    $.widget("ui.tooltip", $.ui.tooltip, {
        options: {
            track: true,
            content: function() {
                return $(this).prop('title');
            }
        }
    });

    var flag_id = '';
    {% for value, text in form.owner.field.choices %}
        flag_id = "{{value}}";
    {% endfor %}
    $("#id_is_global").change(function() {
        $(".form-group.global").toggle();
        var is_global = $("#id_is_global").is(':checked');
        if(is_global) {
            $("#id_owner").val(flag_id);
        } else {
            $("#id_owner").val('');
        }
    });

    var componentsTable;
    $("#plot_preview").click(function() {
        $('#plot-preview-header').css('display','block');
        var varName = $('#id_name').val();
        $("#preview_error").text('');
        $("#variable_plots > div").remove();
        $("#l3_plot > div").remove();
        var variable_ids = [];
        var variable_alias = [];
        var variable_names = [];
        var units = $('#id_units').val();
        var expression = $("#id_expression").val();
        $("input.form-control.expression-text").each(function() {
            variable_alias.push($(this).val());
        });
        componentsTable.rows().eq(0).each(function(index) {
            var row = componentsTable.row(index).data();
            variable_ids.push(row.id);
            variable_names.push(row.child__name);
        });
        try {
            if(expression == '') throw "Please enter an expression";
            if(variable_ids.length == 0) throw "Please add a variable";
            for(var i = 0; i < variable_alias.length; i++) {
                if(variable_alias[i] == '') {
                    throw "Please give the variable a name";
                    break;
                }
            }
        }
        catch(err) {
            $("#preview_error").text(err);
            return;
        }

        $.ajax({
            url: "{% url 'variable.validate' %}",
            method: 'POST',
            data: {
                'variable_alias': variable_alias,
                'expression': expression,
            },
            success: function(resp) {
                if(!resp.success[0]) {
                    $("#preview_error").text("Expression is not valid");
                    return;
                }
            },
            complete: function () {
                $.ajax({
                    url: "{% url 'variable.l3_plot_data' %}",
                    method: 'POST',
                    data: {
                        'asset': $("#assetpicker-value").val(),
                        'variable_ids': variable_ids,
                        'variable_alias': variable_alias,
                        'expression': expression,
                        'title': varName,
                        'y_var': varName,
                        'units': units,
                    },
                    success:function(response) {
                        $("#variable_plots").append("<div id='l3_preview_plot'></div>");
                        //default time window for fetch_data is -2
                        ajax_plot_data(response.l3_data, '', '', -2, 'l3_preview_plot',
                                       varName, 'line', 'Timeseries',
                                       false, default_navigation, default_exporting, {ExportImageOrData: "export chart or data"});

                        for(var i = 0; i < response.asset_ids.length; i++) {
                            var id = 'variable_plot_' + variable_ids[i];
                            $("#variable_plots").append("<div><div id='" + id + "'></div></div>");
                            update_plot(response.asset_ids[i],
                                    response.deployment_ids[i], 'time',
                                    variable_ids[i], -2, id, variable_names[i],
                                    false, 'line', 'Timeseries', false);
                        }
                    }
                });
            }
        });
    });

    $("#btnValidate").click(function() {
        $("#id_expression").tooltip({tooltipClass: "validation_tooltip" });
        $("#validation_error").text('');
        $("#validation_error").removeClass();

        var variable_alias = [];
        var expression = $("#id_expression").val();

        $("input.form-control.expression-text").each(function() {
            variable_alias.push($(this).val());

        });

        $.ajax({
            url: "{% url 'variable.validate' %}",
            method: 'POST',
            data: {
                'variable_alias': variable_alias,
                'expression': expression,
            },
            success: function(resp) {
                if(resp.success[0]) {
                    $("#id_expression").tooltip({
                        items: "#id_expression",
                        content: "Expression is valid",
                        classes: {
                            "ui-tooltip": "valid"
                        },
                        position: {
                            my:'right-50%',
                            at:'bottom-50%',
                            using: function( position, feedback ) {
                              $( this ).css( position );
                              $( "<div>" )
                                .addClass( "arrow" )
                                .appendTo( this );
                            }
                        }
                    });
                    $("#id_expression").tooltip("open");
                }
                else {
                     $("#id_expression").tooltip({
                        items: "#id_expression",
                        content: "Expression is not valid",
                        classes: {
                            "ui-tooltip": "invalid"
                        },
                        position: {
                            my:'right-50%',
                            at:'bottom-50%',
                            using: function( position, feedback ) {
                              $( this ).css( position );
                              $( "<div>" )
                                .addClass( "arrow" )
                                .appendTo( this );
                            }
                        }
                    });
                    $("#id_expression").tooltip("open");
                }
            }
        });
        $('html, body').animate({
            scrollTop: $("#validation_error").offset().top
            }, 100);
        $("#id_expression").tooltip("disable");
    });

    function updateVariables(response) {
        var selectVariable = $("#selectVariable");
        selectVariable.empty();
        var asset_id = $("#assetpicker-value").val();
        if(asset_id < 1) {
            selectVariable.append($('<option value="0">Please select an asset</option>'));
        } else {
            var variables = response.variables;
            if(variables[0]) {
                selectVariable.append($('<option value="0"></option>'));
                for (var i in variables) {
                    unitText = (variables[i][8]) ? " (" + variables[i][8] + ")" : "";
                    if(variables[i][1].substring(variables[i][1].length -1, variables[i][1].length) == ')') {
                        unitText = '';
                    }
                    selectVariable.append($('<option value="' + variables[i][0] + '" asset-id="' + variables[i][2] + '" asset-name="' + variables[i][3] +
                            '" platform-id="' + variables[i][4] + '" platform-name="' + variables[i][5] + '" deployment-id="' + variables[i][6] +
                                '" deployment-name="' + variables[i][7] + '" erddap-id="' + variables[i][9] + '">' + variables[i][1] + unitText + '</option>'));
                }
            } else {
                selectVariable.append($('<option value="0">No variables associated with this asset</option>'));
            }
        }
    };

    $(function(){
        var l3VariableId = {{ variable.id|default:"0" }};
        var newComponentCounter = -1;

    	$("#l3_variable_form").submit(function (e){

    	    $("#id_expression").tooltip({tooltipClass: "validation_tooltip" });
    	    e.preventDefault();

    	    var isValid = true;
    	    var saveComponents = $("#saveComponents");
    	    var duration = $("#durationValue");
            var components = [];
            
            if($("#duration").val().length > 0) {
    		    duration.val($("#duration").val());
    		}

    		componentsTable.rows().every (function () {
    		    var data = this.data();

    	        var nameInExpression = $('.expression-text[data-component-id=' + data.id + ']').val();
    	        if (nameInExpression.length == 0) {
    	            isValid = false;
    	        }

                components.push({
                    componentId: data.id,
                    childId: data.child__id,
                    name: nameInExpression
                });
    		});

            var variable_alias = [];
            var expression = $("#id_expression").val();
            $("input.form-control.expression-text").each(function() {
                variable_alias.push($(this).val());
            });

            $.ajax({
                url: "{% url 'variable.validate' %}",
                method: 'POST',
                data: {
                    'variable_alias': variable_alias,
                    'expression': expression,
                },
                success: function(resp) {
                    if(!resp.success[0]) {
                        isValid = false;

                         $("#id_expression").tooltip({
                            items: "#id_expression",
                            content: "Expression is not valid",
                            classes: {
                                "ui-tooltip": "invalid"
                            },
                            position: {
                                my:'right-50%',
                                at:'bottom-50%',
                                using: function( position, feedback ) {
                                  $( this ).css( position );
                                  $( "<div>" )
                                    .addClass( "arrow" )
                                    .appendTo( this );
                                }
                            }
                        });
                        $("#id_expression").tooltip("open");
                    }
                },
                complete: function (){
                    if (isValid) {
                        saveComponents.val(JSON.stringify(components));
                        $("#l3_variable_form").unbind('submit').submit();
                    } else {
                        $('html, body').animate({
                            scrollTop: $("#validation_error").offset().top
                            }, 100);
                    }
                }
            });
            $("#id_expression").tooltip("disable");
    	});

        var saved_components = "{{ saved_components }}";

    	componentsTable = $("#components").DataTable({
            paging: false,
            searching: false,
            ordering: false,
            info: false,
            ajax: function(data, callback, settings) {
                if(saved_components == "") {
                    $.ajax({
                        url: '/variable/ajax/component_list/' + l3VariableId,
                        type: 'GET',
                        data: {},
                        success: callback
                    });
                } else {
                    $.ajax({
                        url: "{% url 'variable.saved_component_list' %}",
                        method: 'POST',
                        data: { 'components': "{{ saved_components }}" },
                        success: callback
                    });
                }
            },
            columns: [
                {
                    // Component ID
                    data: "id",
                    visible: false
                },
                {
                    // Child ID
                    data: "child__id",
                    visible: false
                },
                {
                    title: "Variable Name",
                    data: "child__name"
                },
                {
                    title: "Name in Expression *",
                    data: "id",
                    render: function(data, type, row) {
                        return "<input type='text' maxlength='100' required='' class='form-control expression-text' data-component-id=" + data + " value='" + row.name + "' />";
                    }
                },
                {
                    title: "Asset",
                    data: "child__asset__name"
                },
                {
                    title: "Platform",
                    data: "child__asset__name",
                    render: function(data, type, row) {
                        if (row.child__platform__name)
                            return row.child__platform__name;

                        return data ? data : "";
                    }
                },
                {
                    title: "Deployment",
                    data: "child__deployment__name"
                },
                {
                    // Delete
                    orderable: false,
                    data: "id",
                    render: function(data) {
                        return "<a href='#' class='delete-link' data-component-id=" + data + ">Delete</a>";
                    }
                },
            ],
        });

        $("#buttonAdd").click(function(){
            var option = $("#selectVariable").find(":selected")
            var selectedVariableName = option.text();
            var newVariableId = option.val();

            if (componentsTable.columns(1).data().indexOf(newVariableId) < 0 && newVariableId > 0)
            {
                componentsTable.row.add({
                    id: newComponentCounter,
                    child__id: newVariableId,
                    name: option.attr('erddap-id'),
                    child__name: selectedVariableName,
                    child__asset__id: option.attr('asset-id'),
                    child__asset__name: option.attr('asset-name'),
                    child__platform__id: option.attr('platform-id'),
                    child__platform__name: option.attr('platform-name'),
                    child__deployment__id:option.attr('deployment-id'),
                    child__deployment__name: option.attr('deployment-name')
                }).draw(false);

                newComponentCounter--;
                $('#selectVariable option:eq(0)').prop('selected', true);
            }
        });

        $('#components tbody').on('click', '.delete-link', function() {
            var row = componentsTable.row($(this).parents('tr'));
            var componentId = $(this).data("component-id");
            var deletionComponentIds = $("#deletionComponentIds");
            row.remove().draw(false);
            if (componentId > 0) {
                if (deletionComponentIds.val()) {
                    var previousIds = JSON.parse(deletionComponentIds.val());
                } else {
                    var previousIds = [];
                }

                var newId = {id: componentId};
                previousIds.push(newId);
                deletionComponentIds.val(JSON.stringify(previousIds));
            }
        });
    });

    $(function() {
        // Make form read only
        if ("{{ is_readonly }}" === "True") {
            $('#id_name, #id_units, #id_expression, #duration, #id_duration_code').attr('disabled', true);
            $('.expression-text').attr('disabled', true);
            $('#left_edit_controls, #btnValidate').hide();
            $('#btnCancel').html('Return');

            // DataTable fields take some time to load up so we delay it a little before disabling for read only
            setTimeout(function() {
                $('.expression-text').attr('disabled', true);
                $('.delete-link').hide();
            }, 500);
        }
    });
</script>
{% endblock %}
