{% extends 'base.html' %}
{% load static %}

{% block topnav %}
<h1>{% if from_my_account %}My Account{% else %}User Management{% endif %}</h1>
{% endblock %}

{% block content %}

<div class="x_panel">
    <div class="x_title">
        <h2>{% if is_new_user %}Create New User{% else %}Update User Profile{% endif %}</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">

        {% if was_saved %}
        <div class="alert alert-success">
            Your profile changes have been saved successfully
        </div>
        {% endif %}

        {% if user_form.non_field_errors or profile_form.non_field_errors %}
        <div class="alert alert-danger">
            {{ user_form.non_field_errors }}
            {{ profile_form.non_field_errors }}
        </div>
        {% endif %}

        <form id="profile-form" method="post" autocomplete="off" class="form-horizontal form-label-left">
            {% csrf_token %}
            {{ user_form.is_new_user }}

            <!-- Used to trick auto-fill from browsers -->
            <input type='password' style='display: none;' />

            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{ user_form.username.label_tag }} <span class="required">*</span></label>
                        <div class="col-md-6">
                            {{ user_form.username }}
                            {% if user_form.username.errors %}{{ user_form.username.errors.as_text }}{% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">{{ user_form.new_password.label_tag }}</label>
                        <div class="col-md-6">
                            {{ user_form.new_password }}
                            {% if user_form.password.errors %}{{ user_form.new_password.errors.as_text }}{% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">{{ user_form.confirm_password.label_tag }}</label>
                        <div class="col-md-6">
                            {{ user_form.confirm_password }}
                            {% if user_form.confirm_password.errors %}{{ user_form.confirm_password.errors.as_text }}{% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">{{ user_form.first_name.label_tag }} <span class="required">*</span></label>
                        <div class="col-md-6">
                            {{ user_form.first_name }}
                            {% if user_form.first_name.errors %}{{ user_form.first_name.errors.as_text }}{% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">{{ user_form.last_name.label_tag }} <span class="required">*</span></label>
                        <div class="col-md-6">
                            {{ user_form.last_name }}
                            {% if user_form.last_name.errors %}{{ user_form.last_name.errors.as_text }}{% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Email: <span class="required">*</span></label>
                        <div class="col-md-6">
                            {{ user_form.email }}
                            {% if user_form.email.errors %}{{ user_form.email.errors.as_text }}{% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">{{ profile_form.phone.label_tag }}</label>
                        <div class="col-md-6">{{ profile_form.phone }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">{{ profile_form.position.label_tag }}</label>
                        <div class="col-md-6">{{ profile_form.position }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">{{ profile_form.affiliation.label_tag }}</label>
                        <div class="col-md-6">{{ profile_form.affiliation }}</div>
                    </div>
                    {% if not laptop_mode %}
                        <div class="form-group" {% if not perms.core.manage_redmine %}hidden{% endif %}>
                            <label class="control-label col-md-4">{{ profile_form.redmine_api_key.label_tag }}</label>
                            <div class="col-md-6">{{ profile_form.redmine_api_key }}</div>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label class="control-label col-md-4">SMS number:</label>
                        <div class="col-md-6">{{ profile_form.sms_number }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">SMS carrier:</label>
                        <div class="col-md-6">{{ profile_form.sms_carrier }}</div>
                    </div>
                </div>

                <div class="col-md-5">
                    {% if perms.core.manage_groups %}
                    <div class="well form-group">
                        {% if user_form.groups.errors %}{{ user_form.groups.errors.as_text }}{% endif %}
                        <h4>Assigned Groups</h4>
                        {% for group in user_form.groups %}
                            <div class="checkbox">
                                <label>
                                    {{ group.tag }}
                                    {{ group.choice_label }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>

            {% if not from_my_account %}
            <button type="button" class="btn btn-default" id="cancel-button">Cancel</button>
            {% endif %}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static '/vendor/jquery-validation/1.16.0/additional-methods.min.js' %}"></script>
<script type="text/javascript">
    $(function(){
        jQuery.validator.addMethod('matching_passwords', function(value, element){
            if ($("#id_password").val() == '') return true;

            return $("#id_new_password").val() == $("#id_confirm_password").val();
        }, "* Passwords do not match");

        jQuery.validator.addMethod('req_password_on_new_users', function(value, element){
            return $("#id_is_new_user").val() != 'True' || $("#id_new_password").val() != '';
        }, "* A password is required for all new users");

        jQuery.validator.addMethod('req_groups', function(value, element){
             return $('input:checkbox[name=groups]:checked').length > 0;
        }, "* The user needs to be assigned to a group");

        $("#profile-form").validate({
            rules: {
                first_name: "required",
                last_name: "required",
                username: "required",
                email: { required: true, email: true },
                new_password: { req_password_on_new_users : true },
                confirm_password: { matching_passwords : true },
                groups: {req_groups : true},
                sms_number: "phoneUS",
            },
            messages: {
                first_name: "First Name is required",
                last_name: "Last Name is required",
                username: "Username is required",
                email: {
                    required: "Email is required",
                    email: "Email is invalid"
                },
                groups: "A group is required",
                sms_number: "Enter a valid phone number",
            },
            errorElement: "em",
            errorPlacement: function (error, element) {
                // Add the `help-block` class to the error element
                error.addClass("help-block");
                if ( element.prop("type") === "checkbox" ) {
                    var $inputBoxes = $('input[name=' + element[0].name + ']');
                    if ($inputBoxes.length == 0) {
                        error.insertAfter(element.parent("label"));
                    } else {
                        error.insertBefore($($inputBoxes[0]).parent());
                    }
                } else {
                    error.insertAfter(element);
                }
            },
            highlight: function (element, errorClass, validClass ) {
                $(element).closest(".form-group").addClass("has-error");
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).closest(".form-group").removeClass("has-error");
            }
        });

        $("#profile-form").submit(function(e){


            if($("#id_sms_number").val().length > 0) {
                $("#id_sms_carrier").rules( "add", {
                    required: true,
                });
            } else {
                $("#id_sms_carrier").rules( "add", {
                    required: false,
                });
            }
            if (!$("#profile-form").valid()) {
                e.preventDefault();
                return false;
            }
        });

        $("#cancel-button").click(function(e){
            e.preventDefault();

            window.location.href = "{% url 'account.users' %}";
            return false;
        });

        // Clears out stubborn auto-fill feature on some browsers
        {% if is_new_user %}
            $('#profile-form')[0].reset();
        {% endif %}
    });
</script>
{% endblock %}