{% extends 'base.html' %}

{% block topnav %}
<h1>Preferences</h1>
{% endblock %}

{% block content %}
<div class="x_panel">
    <p>
        Placeholder page for modifying personal account preferences (which moorings to show on the dashboard, etc)
    </p>
</div>
{% endblock %}