{% extends 'base.html' %}

{% block topnav %}
<h1>User Management</h1>
{% endblock %}

{% block content %}
<div class="x_panel">
    <div id="delete-error" class="alert alert-danger hide">An error has occurred while trying to delete this user</div>
    <a href="{% url 'account.add_user' %}" class="btn btn-sm btn-primary pull-right">Add New User</a>
    <div class="hidden col-md-12">
        <table id="users" class="table table-striped table-bordered" width="100%"></table>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    $(function(){
        var columns = [
            {
                title: "Username",
                data: 'username'
            },
            {
                title: "First",
                data: 'first_name'
            },
            {
                title: "Last",
                data: 'last_name'
            },
            {
                title: "Email",
                data: 'email'
            },
            {
                title: "Phone",
                data: 'profile__phone'
            },
            {
                title: "Position",
                data: 'profile__position'
            },
            {
                title: "Affiliation",
                data: 'profile__affiliation'
            }
        ];

        {% if perms.core.delete_user %}
        columns.push({
            data: "id",
            orderable: false,
            render: function(data) {
                return "<a href='/account/edit_user/" + data + "'>Edit</a>";
            }
        });
        {% endif %}

        {% if perms.core.delete_user %}
        columns.push({
            data: "id",
            orderable: false,
            render: function(data) {
                return "<a href='#' class='delete-user' data-user-id='" + data + "'>Delete</a>";
            }

        });
        {% endif %}

        var usersTable = $("#users").DataTable({
            pageLength: 25,
            paging:false,
            searching:true,
            info: false,
            ajax: "{% url 'account.user_list' %}",
            columns: columns,
            initComplete: function(settings, json) {
                $(this).closest(".hidden").toggleClass('hidden', false);
            },
            drawCallback: function() {
                Common.stretch_pagination($(this));
            }
        });

        $("#users").on('click', '.delete-user', function(e){
            if (!confirm('Are you sure you want to delete this user?')) {
                e.preventDefault();
                return false;
            }

            $("#delete-error").toggleClass('hide', true);

            var id = $(this).attr('data-user-id');

            $.post("{% url 'account.delete_user' %}", {'user_id': id})
                .done(function(data){
                    usersTable.ajax.reload();
                })
                .fail(function(data){
                    $("#delete-error").toggleClass('hide', false);
                });
        });
    });
    </script>
{% endblock %}