{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>OMS++</title>
        <link type="text/css" rel="stylesheet" href="{% static "vendor/bootstrap/3.3.7/css/bootstrap.min.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "vendor/font-awesome/4.7.0/css/font-awesome.min.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "/css/theme.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "/css/style.css" %}" />
    </head>
    <body class="login">
        <div style="text-align:center">
            <img src="{% static '/images/logos/NSF-OOI-RGB.png' %}" style="width:450px" title="Ocean Observatories Initiative">
        </div>
        {% block content %}
        {% endblock %}

        <script type="text/javascript" src="{% static "vendor/jquery/3.1.1/js/jquery-3.1.1.min.js" %}"></script>
        <script type="text/javascript" src="{% static "vendor/bootstrap/3.3.7/js/bootstrap.min.js" %}"></script>
        <script type="text/javascript" src='{% static "js/theme.js" %}'></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
