{% extends 'base.html' %}
{% load static %}
{% load ui_tags %}

{% block topnav %}
    <h1>Backup Database</h1>
{% endblock %}

{% block content %}

<div id="setup-panel" >
    <div class="x_panel" >
        <div class="x_content" >
            <div class="row" >
                <div class="col-md-6 col-sm-12" >
                    <div class="x_panel">
                        <div class="x_content">
                            This will create a Database backup file at: {{file_path}} <br /> Click "Backup Database" to continue.            
                        </div>
                    </div>
                    {% csrf_token %}
                    <div style='margin: 30px 0;'>
                        <a id="btn-backup-database" class="btn btn-primary">Backup Database</a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h4>Previous Backups:</h4>
                        </div>
                        <div class="x_content">
                            <ul>
                            {% for file in file_list %}
                                <li>
                                    <a href="{{file_path}}/{{file}}" target="_blank" download>{{file}}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loading-panel" class="hidden col-md-12" style="height: 400px; text-align: center; margin-top: 30px">
    <h2>Please wait while the database is being backed up...</h2>
    <div class="lds-css ng-scope">
        <div class="lds-spinner" style="margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}

<script type="text/javascript" >
    $(document).ready(function() {
        let success = getParameterByName('success', window.location.href)
        if(success == "true"){
            add_success_message("Database Backup Created");
        }else if(success == "false"){
            let error = getParameterByName('error', window.location.href)
            Common.add_failed_message("Database Backup Failed: " + error);
        }
    });
    $('#btn-backup-database').click(function(e) {
        $('#loading-panel').toggleClass('hidden', false);
        $('#setup-panel').toggleClass('hidden', true);
        $.ajax({
            url: '{% url 'dashboard.execute_backup_database' %}',
            method:'POST',
            data: { },
            success: function(data) {
                if (data) {
                    let target_url = '{% url 'dashboard.backup_database' %}';
                    if(data.success==true){
                        target_url += '?' + 'success=true';
                    }else{
                        target_url += '?' + 'success=false';
                        target_url += '?' + 'error=' + data.error_message;
                    }
                    window.location = target_url;
                }
            }
        });
    });
</script>
{% endblock %}
