{% extends 'base.html' %}

{% block topnav %}
<h1>Hot List</h1>
{% endblock %}

{% block content %}

<div class="x_panel">
    <div class="x_title">
        <h2>Recent Alerts</h2>
        <div class="pull-right">
            <input type="checkbox" id="chkBxAcknowledged"/>
            <label for="chkBxAcknowledged">Include Acknowledged Alerts</label>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content hidden">
         <div id="trigger-detail" class="dialog-box"></div>
         <table id="recent-alerts" class="table table-striped table-bordered" width="100%"></table>
    </div>
  
  </div>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            Pages.Hotlist.init();
        });
    </script>

{% endblock %}
