{% extends 'base.html' %}
{% load static %}

{% block topnav %}
    <h1>Power System Details for {{ platform.code }} ({{ platform.deployment.code }})</h1>
{% endblock %}

{% block content %}
<div class="x_content">
    {% if not plots %}
    <div class="alert alert-info">
        <i class="fa fa-info-circle " aria-hidden="true"></i>
        Power system details are not available for this mooring
    </div>
    {% endif %}
    {% for plot in plots %}
    <div class="col-lg-6">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav text-center ">
                    <li class="horizontal-selects-wrapper">
                        <div class="time_window_wrapper" style="display:inline-block">
                            <select class="time-window time-window{{ plot.id }}">
                                {% for id, val in time_choices_dict.items %}
                                    {% if plot.plot_time_range.id == id %}
                                        <option value="{{ id }}" selected>{{ val.name }}</option>
                                    {% else %}
                                        <option value="{{ id }}">{{ val.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <select class="plot-type-window{{ plot.id }} plot-type-window">
                            {% for val, name in plot_type_choices %}
                                {% if not plot.plot_type and val == 1 %}
                                    <option value="{{ val }}" selected>{{ name }}</option>
                                {% elif plot.plot_type.id == val %}
                                    <option value="{{ val }}" selected>{{ name }}</option>
                                {% else %}
                                    <option value="{{ val }}">{{ name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <select class="relative-to relative-to{{ plot.id }} ">
                            {% for val, name in plot_relative_to_choices %}
                                {% if plot.plot_relative_to.id == val %}
                                    <option value="{{ val }}" selected>{{ name }}</option>
                                {% else %}
                                    <option value="{{ val }}">{{ name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <div class="plot-date-pickers dates_wrapper" style="display:inline-block">
                            <input name="end_date" type="text" placeholder="End Date" class="datepicker end_date end_date{{ plot.id }}" value="{{plot.end_date|date:'Y-m-d'}}">
                            <input name="start_date" type="text" placeholder="Start Date" class="datepicker start_date start_date{{ plot.id }}" value="{{plot.start_date|date:'Y-m-d'}}">
                         </div>
                        <select class="y-axis-orientation{{ plot.id }}">
                           {% for val, name in yaxis_choices %}
                                <option value="{{ val|lower }}" {% if plot.yaxis_dir|lower == 'true' %} selected {% endif %}>Y-Axis {{ name|lower }}</option>
                           {% endfor %}
                        </select>
                        <button type="button" class="btn btn-xs btn-primary update-plot plot-btn"
                            data-plot-id="{{ plot.id }}" data-asset-id="{{ plot.asset.id }}"
                            data-x-variable-id="{{ plot.x_var }}"
                            data-y-variable-id="{{ plot.y_var }}"
                            data-plot-class="{{ plot.plot_class.name }}"
                            data-plot-global="global_{{ plot.is_global}}" data-plot-name="{{ plot.name }}"
                            data-deployment-id="{{ deployment.id }}" style="margin-right:20px">Plot</button>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="plot{{ plot.id }}" class="pre-loaded-plot" style="display: flex"></div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="text-center">
        <a href="{% url 'dashboard.system_overview' platform.group.id %}" class="btn btn-default">Return to System Overview</a>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(function() {
        var plot_class_dict = {{ plot_class_dict|safe }};

        var time_choices_dict = {{ time_choices_dict|safe }};

        var plotArray = [];

        {% for plot in plots %}
            plotArray.push({{plot.id}});
        {% endfor %}

        $('#plot_ids').val(plotArray);

        $(document).ready(function() {
            var groupDataId = 'group-{{ asset.group_id }}';
            var platformId = 'platform-{{ asset.platform_id }}';
            var url = location.href;

            SetupCurrentSideNavMenu(groupDataId, platformId);
        });

        // build custom context menu items object and include the edit url as an argument
        var edit_url = "#";

        var customContextMenuItems = PlotCommon.buildCustomContextMenuItems(PlotCommon.standardContextMenuItems, edit_url, from_where='plot_page{{ plot_page_id }}')

        // custom exporting object
        PlotCommon.custom_exporting = jQuery.extend(true, {}, PlotCommon.default_exporting);
        PlotCommon.custom_exporting.buttons.contextButton.menuItems = customContextMenuItems

            {% for plot in plots %}

                // Pre-loaded plots
                var global_str = '{{ plot.is_global }}'
                var global = global_str === 'True' ? 'global_True' : 'global_False'

                var plot_type;
                if ('{{ plot.plot_type }}' === 'None' || '{{ plot.plot_type }}' === 'Line') {
                    plot_type = 'line';
                } else if ('{{ plot.plot_type }}' === 'Scatter') {
                    plot_type = 'scatter'
                } else {
                    plot_type='line';
                }

                var plot_class = '{{ plot.plot_class.name }}';
                var time_window = {{ default_time_window }};
                var x_var, y_var;

                x_var = ('{{ plot.x_var }}').replace(/[\[\]']+/g, '');
                y_var = ('{{ plot.y_var }}').replace(/[\[\]']+/g, '');

                if (plot_class === 'Timeseries') {
                    x_var = 'time';
                }


                var start_date = "{{ plot.start_date|date:'Y-m-d'}}";
                var end_date = "{{ plot.end_date|date:'Y-m-d'}}";

                var relative_to = "{{ plot.plot_relative_to}}";

                var y_direction = '{{ plot.yaxis_dir }}'.toLowerCase() === 'true' ? true : false;
                PlotCommon.update_plot(
                    {{ plot.asset.id }},
                    {{ deployment.id }},
                    x_var,
                    y_var,
                    time_window,
                    'plot{{ plot.id }}',
                    "{{ plot.name|safe }}",
                    global,
                    plot_type,
                    plot_class,
                    y_direction,
                    start_date,
                    end_date,
                    relative_to
                );
            {% endfor %}
        });


    $(document).on('click','.update-plot', function() {
        var plot_id = $(this).attr('data-plot-id');
        var asset_id = $(this).attr('data-asset-id');
        var deployment_id = $(this).attr('data-deployment-id');
        var plotname = $(this).attr('data-plot-name');
        var plotglobal = $(this).attr('data-plot-global');
        var time_window = $(".time-window" + plot_id);
        var plot_type_window = $(".plot-type-window" + plot_id).find('option:selected').text().toLowerCase() || 'line';
        var plot_class = $(this).attr('data-plot-class');;
        var y_direction = $(".y-axis-orientation" + plot_id).val() === 'true' ? true: false;

        var x_vars = $(this).attr('data-x-variable-id').replace(/[\[\]']+/g, '');
        var y_vars = $(this).attr('data-y-variable-id').replace(/[\[\]']+/g, '');

        var $time_window_el = $(".time-window" + plot_id);
        var $relative_to_el = $(".relative-to" + plot_id);
        var start_date = undefined;
        var end_date = undefined;
        var time_window = undefined;
        var $dates_wrapper = $(".start_date"+ plot_id).parent('.dates_wrapper');
        if($relative_to_el.val()==CUSTOM_TIME_FRAME){
            if(!$(".start_date"+ plot_id).val() && !$(".end_date"+ plot_id).val()){
                if ($dates_wrapper.find('div[class="error-message"]').length === 0) {
                    $dates_wrapper.append('<div class="error-message">&nbsp;' +
                    'Must set either start or end date' + '</div>');
                }
                return;
            }else{
                
                $dates_wrapper.find('div[class="error-message"]').remove();
            }

            start_date = $(".start_date"+ plot_id).val();                
            end_date = $(".end_date"+ plot_id).val(); 
            time_window = null
        }else{
            $dates_wrapper.find('div[class="error-message"]').remove();
            time_window = time_choices_dict[$time_window_el.val()]['days']
        }

        var relative_to = $relative_to_el.val()

        if (plot_class === 'Timeseries') {
            x_vars = 'time'
        }

        PlotCommon.update_plot(asset_id, deployment_id, x_vars, y_vars, time_window ,'plot' + plot_id, plotname,
            plotglobal, plot_type_window, plot_class, y_direction, start_date, end_date, relative_to);
    });

</script>
{% endblock %}
