{% extends public %}
{% load status_tags %}
{% load static %}

{% block topnav %}
<h1>System Overview</h1>
{% endblock %}

{% block content %}
<div id="system-overview">

    <div class="row">
        <div class="col-sm-12">
            <div id="platform_status" class="x_panel" style="width:100%; height: 150px"></div>
            <div id="alert_status" class="x_panel" style="width:100%; height: 150px"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div id="graph_preference">
                <input type="radio" id="rdoShowPercent" name="plot-preference" value="1" {% if functional_percentage and not alert_count %} checked {% endif %}> <label for="rdoShowPercent">Show Functional Percentage</label>
                <input type="radio" id="rdoShowCount" name="plot-preference" value="2" {% if alert_count and not functional_percentage %} checked {% endif %} ><label for="rdoShowCount">Show Functional Counts</label>
                <input type="radio" id="rdoShowBoth" name="plot-preference" value="3" {% if alert_count and functional_percentage %} checked {% endif %}><label for="rdoShowBoth">Show Both</label>
            </div>
        </div>
        {% if show_disposition_filter %}
        <div class="row disposition-filters" id="dispositions">
            <div class="col-md-6">
                Displayed Platforms:
                {% for disposition in dispositions %}
                <label>
                    <input
                            type="checkbox"
                            data-value="{{ disposition.id }}"
                            {% if disposition.id in shown_dispositions %}checked="checked"{% endif %} />
                    {{ disposition.name }}
                </label>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>

    <div class="row">

    {% for asset in assets %}
    <div class="col-md-3 {% if not asset.disposition.id in shown_dispositions %}hide{% endif %}"
         data-disposition-id="{{ asset.disposition.id }}">
        <div class="x_panel">
            <div class="x_content">
                <label {% if asset.disposition_id != 2 %} style="font-weight:normal;" {% endif %}>{{ asset.name }} ({{ asset.deployment.code }})</label>

                <div id="asset_{{ asset.id }}" style="width: 100%; height: 200px;" class="functional" {% if not functional_percentage %} hidden {% endif %}></div>
                <div id="asset_{{ asset.id }}_alerts" class="alert_status" {% if not alert_count %} hidden {% endif %}></div>
            </div>
            <div class="text-center">
                <a href="{% url 'asset.group_mooring_locations' group_id %}?platform_id={{ asset.id|urlencode }}" class=" btn btn-primary btn-sm">Mooring Location</a>
                <a href="{% url 'dashboard.power_details' asset.id %}" class="btn btn-sm btn-primary">Power System</a>
            </div>
        </div>
    </div>
        <div hidden>
            {% plot_tooltip asset.id alerts %}
        </div>
    {% endfor %}

    </div>


</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function() {
        let config = {}
        
        config.group_id = '{{ group_id }}';
        config.page_title = '{{ page_title }}';
        config.array_status = {{ array_status }};
        config.alerts = {{ alerts }};        

        let asset_obj;
        config.assets = [];
        {% for asset in assets %}

            asset_obj = {};
            asset_obj.id = {{ asset.id }};
            asset_obj.deployment_code = '{{ asset.deployment.code }}';
            asset_obj.average_platform_status = {{ asset.average_platform_status }};

            config.assets.push(asset_obj);

        {% endfor %}
        
        Pages.SystemOverview.init(config);
    });
</script>
{% endblock %}