/*
        .config-style > label {
            margin-bottom: 0px !important;
        }
        #platform_deploy_section > p > label {
            width: 150px;
        }
        #platform_config_section > p > label {
            width: 160px;
        }
        #power_config_section > p > label {
            width: 160px;
        }
        #telem_config_section > p > label {
            width: 150px;
        }
        #cpm_config_section > p > label {
            width: 225px;
        }
        #dcl_config_section > p > label {
            width: 160px;
        }
        #dcl_port_config_section > p > label {
            width: 170px;
        }
        #stc_config_section > p > label {
            width: 170px;
        }
        #platform_deploy_section > p:nth-child(odd) {
            background-color: #f2f2f2;
            padding: 7px 0px;
        }
        #platform_config_section > p:nth-child(odd) {
            background-color: #f2f2f2;
            padding: 7px 0px;
        }
        #power_config_section > p:nth-child(odd) {
            background-color: #f2f2f2;
            padding: 7px 0px;
        }
        #telem_config_section > p:nth-child(odd) {
            background-color: #f2f2f2;
            padding: 7px 0px;
        }
        #cpm_config_section > p:nth-child(odd) {
            background-color: #f2f2f2;
            padding: 7px 0px;
        }
        #dcl_config_section > p:nth-child(odd) {
            background-color: #f2f2f2;
            padding: 7px 0px;
        }
        #dcl_port_config_section > p:nth-child(odd) {
            background-color: #f2f2f2;
            padding: 7px 0px;
        }
        #stc_config_section > p:nth-child(odd) {
            background-color: #f2f2f2;
            padding: 7px 0px;
        }
        .config-style > .content {
            background: #fff;
            color: #373737;
        }

        .config-style > .content > div {
            display: none;
            padding: 20px 25px 5px;
        }

        .tab-input {
            display: none;
        }

        .tab-label {
            display: inline-block;
            padding: 15px 15px;
            font-weight: 600;
            text-align: center;
            font-size: 12px;
        }

        .tab-label:hover {
        color: #0789EB;
        cursor: pointer;
        background-color: #ececec;
        }

        .tab-input:checked + label {
            background: #BBBAB9;
            color: #fff;
        }

        #tab1:checked ~ .content #platform_deploy_section,
        #tab2:checked ~ .content #platform_config_section,
        #tab3:checked ~ .content #power_config_section,
        #tab4:checked ~ .content #telem_config_section,
        #tab5:checked ~ .content #cpm_config_section,
        #tab6:checked ~ .content #dcl_config_section,
        #tab7:checked ~ .content #dcl_port_config_section,
        #tab8:checked ~ .content #stc_config_section
        {
            display: block;
        }
        .preview-table {
          table-layout: fixed;
          width: 100%;
          white-space: nowrap;
        }
        .row-key {
          width: 20%;
        }
        .row-equal {
          width: 10%;
        }
        .row-value {
          width: 70%;
        }

        .preview-table td {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .preview-table th {
          background-color: darkblue;
          color: white;
        }
        .preview-table td,
        .preview-table th {
          text-align: left;
          padding: 5px 10px;
        }
        .preview-table tr:nth-child(even) {
          background-color: lightblue;
        }

        .config-style > table{
          border-collapse: collapse;
          cellpadding="10px"
        }

        .config-style > td, th {
          border: 20px solid #999;
          padding: 0.5rem;
          text-align: left;
        }

        .preview_table > table > tbody > tr > td {
            padding: 3px 10px;
        }

        .preview_table > table > tbody > tr:nth-child(odd) {
            background-color: #f2f2f2;
        }
*/