{#  #}
{% extends "base.html" %}
{% load static %}
{% load ui_tags %}
{% load status_tags %}

{% block topnav %}
<h1>{{ title }}</h1>
{% endblock %}

{% block content %}

{% asset_nav asset.id deployment.code plot_pages current_asset_page %}


<div id="plot_page" class="x_panel col-md-12">
    <div id="x-content" class="test-plots plot-colors">
        <div class="form-group x_panel" style="padding-bottom:20px">
            <div class="col-md-6">
                <label class="control-label">Name:<span class="required"> *</span></label>
                <div>
                    <input id="plot-page-name" class="form-control" value="{{ page_name }}"/><div style="display:inline-block" id="empty_notification"></div>
                </div>
            </div>
            <div class="col-md-12">
                <label class="control-label">Select Asset:</label>
                <div>
                    {% asset_picker 'assetpicker' %}
                </div>
            </div>
        </div>


        <h4 class="bg-info" style="padding: 15px;">Select up to 10 plots</h4>


        <div class="row">
            <div class="col-lg-3">
                <h4>Available Plots</h4>
                <select id="plot_select" size="20" style="width:100%;" multiple>
                    <option>Please select an asset</option>
                </select>
                <br />
                <button style="margin-top: 5px;" type="button" id="preview-available" class="btn btn-primary btn-sm preview">Preview</button>
                <button style="margin-top: 5px;" id="add_plot" type="button" class="btn btn-primary btn-sm preview">Add</button>
            </div>
            <div class="col-lg-3" id="selected_plots_div">

            <h4 id="selected_title" style="">Selected Plots</h4>

            <select id="selected_plots" size="20" style="width:100%;" multiple>
                {% if default_plots %}
                {% for plot in default_plots %}
                <option value="{{plot.id}}" data-asset-id="{{plot.asset_id}}" data-variable-x="{{plot.x_var}}" data-variable-y="{{plot.y_var}}"
                        data-plot-type="line" data-plot-class="Timeseries" data-yaxis-direction="false">{{plot.name}}</option>
                {% endfor %}
                {% endif %}
                {% if selected_plots %}
                {% for p in selected_plots %}
                <option value="{{p.plot.id}}" data-asset-id="{{p.plot.asset_id}}" data-variable-x="{{p.plot.x_var}}" data-variable-y="{{p.plot.y_var}}"
                        data-plot-type="line" data-plot-class="Timeseries" data-yaxis-direction="false">{{p.plot.name}}</option>
                {% endfor %}
                {% endif %}
            </select>
            <br>
            <button style="margin-top: 5px;" type="button" id="preview-selected" class="btn btn-primary btn-sm preview">Preview</button>

            <button style="margin-top: 5px;" id="remove_plot" class="btn btn-primary btn-sm">Remove</button>
        </div>
            <div class="col-lg-6">
                <h4 style="text-align: center;">Plot Preview</h4>
                <div class="x_panel" style="min-height: 305px;text-align: center;" id="plot-preview-div"><p class="select-text">Select a plot to preview</p></div>
            </div>
        </div>
    </div>


    <br />
    <button style="margin-top: 20px;" id="cancel" class="btn btn-default" onclick="window.location.href = '{% url 'asset.overview' asset.id deployment.code %}'">Cancel</button>
    <button style="margin-top: 20px;" id="plot-page" class="btn btn-primary">Save</button>


</div>

{% endblock %}

{% block scripts %}
{% asset_picker_scripts 'assetpicker' %}
<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function() {
        PlotCommon.plot_class_dict = {{ plot_class_dict|safe }};
        let config = {
            asset: {
                id: '{{asset.id}}',
                platform_id: '{{asset.platform_id}}',
                group_id: '{{asset.group_id}}'
            },
            deployment: {
                id: '{{deployment.id}}',
                code: '{{deployment.code}}'
            },
            plot_page_id: "{{ plot_page_id }}",
            asset_overview: "{{ asset_overview }}",

        }
        Pages.CreatePlotPage.init(config);
    });

</script>
{% endblock %}