{#  #}
{% extends "base.html" %}
{% load static %}
{% load ui_tags %}
{% load status_tags %}


{% block topnav %}
<h1>{{ platform_name }} - {{ name }}</h1>
{% endblock %}

{% block content %}

{% asset_nav asset.id deployment.code plot_pages current_asset_page %}

<div class="x_content">
    <span>
    {% if shared %}
    <form action="{% url 'plot.import_plot_page' %}" method="post" id="import_form">
        {% csrf_token %}
        <input type="hidden" name="plot_page_id" value="{{ plot_page_id }}" />
        <button type="submit" id="import" class="btn btn-primary" style="float:top">Import Plot Page</button>
    </form>
    {% else %}

    <form action="{% url 'plot.plot_list' asset.id %}" method="post" id="edit_form">
        {% csrf_token %}
        <input type="hidden" name="selected_plot_ids" value="{{ plots }}" id="plot_ids"/>
        <input type="hidden" name="page_name" value="{{ name }}" />
        <input type="hidden" name="plot_page_id" value="{{ plot_page_id }}" />
        <input type="hidden" name="asset_overview" value="{{ asset_overview }}" />
        <button type="submit" id="edit" class="btn btn-primary" style="float:top">Edit Plot Page</button>

        <button type="button" id="share_plot" class="btn btn-primary">Share Plot Page</button>
        <button type="button" id="delete_plot_page" class="btn btn-danger">Delete Plot Page</button>
    </form>
    <div id="plot_page_alert"></div>
        <div hidden id="email_share">
            <div  class="x_panel">
                <form id="email_form">
                    <div class="col-md-12">
                        <div id="notification" style="color: #ffffff;width:635px;"></div>
                    </div>
                    <div style="width: 180px;float: left;">
                        List of Email Addresses:<br />
                        <span class="instructions">Separated by commas or semi-colons</span>
                    </div>
                    <div style="display:inline-block;width:80%" id="email_share_div">
                        <textarea id="email_textarea" name="email" style="width:22.5%"></textarea>
                        <button type="button" id="send_email" class="btn btn-sm btn-primary" style="position:relative;">Send Email</button>
                    </div>
                </form>
            </div>
        </div>
        {% if code %}
        <button type="button" id="disable_sharing" class="btn btn-sm btn-primary">Disable Sharing</button>
        {% else %}
        {% endif %}
    {% endif %}
        </span>
    <br />
    <div class="x_content" id="plot-list" data-plot-page-id="{{plot_page_id}}">
        {% for plot in plots %}
        <div class="col-lg-6 plot-list-plot">
            <div class="x_panel">
                <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="horizontal-selects-wrapper">
                            <div class="time_window_wrapper" style="display:inline-block">
                                <select class="time-window time-window{{ plot.id }}">
                                    {% for id, val in time_choices_dict.items %}
                                        {% if plot.plot_time_range.id == id %}
                                            <option value="{{ id }}" selected>{{ val.name }}</option>
                                        {% else %}
                                            <option value="{{ id }}">{{ val.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <select class="plot-type-window{{ plot.id }} plot-type-window">
                                {% for val, name in plot_type_choices %}
                                    {% if not plot.plot_type and val == 1 %}
                                        <option value="{{ val }}" selected>{{ name }}</option>
                                    {% elif plot.plot_type.id == val %}
                                        <option value="{{ val }}" selected>{{ name }}</option>
                                    {% else %}
                                        <option value="{{ val }}">{{ name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <select class="relative-to relative-to{{ plot.id }} ">
                                {% for val, name in plot_relative_to_choices %}
                                    {% if plot.plot_relative_to.id == val %}
                                        <option value="{{ val }}" selected>{{ name }}</option>
                                    {% else %}
                                        <option value="{{ val }}">{{ name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <div class="plot-date-pickers dates_wrapper" style="display:inline-block">
                                <input name="end_date" type="text" placeholder="End Date" class="datepicker end_date end_date{{ plot.id }}" value="{{plot.end_date|date:'Y-m-d'}}">
                                <input name="start_date" type="text" placeholder="Start Date" class="datepicker start_date start_date{{ plot.id }}" value="{{plot.start_date|date:'Y-m-d'}}">
                             </div>
                            <select class="y-axis-orientation{{ plot.id }}">
                               {% for val, name in yaxis_choices %}
                                    <option value="{{ val|lower }}" {% if plot.yaxis_dir %} selected {% endif %}>
                                        Y-Axis {{ name|lower }}
                                    </option>
                               {% endfor %}
                            </select>
                            <button type="button" class="btn btn-xs btn-primary update-plot plot-btn"
                                            data-plot-id="{{ plot.id }}" data-asset-id="{{ plot.asset.id }}"
                                            data-x-variable-id="{{ plot.x_var }}"
                                            data-y-variable-id="{{ plot.y_var }}"
                                            data-plot-class="{{ plot.plot_class.name }}"
                                            data-plot-global="global_{{ plot.is_global}}" data-plot-name="{{ plot.name }}"
                                            data-deployment-id="{{ deployment.id }}" style="margin-right:20px">Plot</button>
                        </li>
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li><a class="delete-plot-link" id="{{ plot.id }}"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id="plot{{ plot.id }}" class="pre-loaded-plot" style="display: flex"></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function() {

        let editShared = '{{ perms.core.edit_shared_items|yesno:"true,false" }}';

        let plots = [];
        let plotIdArray = [];

        {% for plot in plots %}
            plotIdArray.push({{plot.id}});
            plt = {};
            plt.id = '{{ plot.id }}';
            plt.asset_id = {{ plot.asset.id }} //probably make this a string too?
            plt.deployment_id = '{{ plot.asset.deployment.id }}';
            plt.name = "{{ plot.name|safe }}";
            plt.time_window = {{ plot.plot_time_range.days }};
            plt.global = '{{ plot.is_global }}' === 'True' && !editShared ? 'global_True' : 'global_False';
            
            if ('{{ plot.plot_type }}' === 'None' || '{{ plot.plot_type }}' === 'Line') {
                plt.plot_type = 'line';
            } else if ('{{ plot.plot_type }}' === 'Scatter') {
                plt.plot_type = 'scatter'
            } else {
                plt.plot_type='line';
            }
            plt.y_direction = '{{ plot.yaxis_dir }}'.toLowerCase() === 'true' ? true : false;
            if ('{{ plot.plot_class }}' === 'None' || '{{ plot.plot_class }}' === 'Timeseries') {
                plt.plot_class = 'Timeseries';
                plt.x_var = 'time';
            } else {
                plt.plot_class = 'Comparison';
                plt.x_var = '{{ plot.x_var }}';
            }
            plt.y_var = '{{ plot.y_var }}';
            plt.start_date = "{{ plot.start_date|date:'Y-m-d'}}";
            plt.end_date = "{{ plot.end_date|date:'Y-m-d'}}";
            plt.relative_to = "{{ plot.plot_relative_to}}";
            plt.time_window = {{ plot.plot_time_range.days }};

            plots.push(plt);
        {% endfor %}

        $('#plot_ids').val(plotIdArray);
        let config = {
            asset: {
                id: '{{asset.id}}',
                platform_id: '{{asset.platform_id}}',
                group_id: '{{asset.group_id}}'
            },
            deployment: {
                id: '{{deployment.id}}',
                code: '{{deployment.code}}'
            },
            plot_page_id: "{{ plot_page_id }}",
            plot_page_name: "{{ name }}",
            plots: plots,
            editShared:editShared

        }

        PlotCommon.plot_class_dict = {{ plot_class_dict|safe }};
        PlotCommon.time_choices_dict = {{ time_choices_dict|safe }};
        Pages.PlotPage.init(config);

    });

</script>
{% endblock %}
