Dear {{name}},<br />
<br />
An alert has been raised on <b>{{platform}} &gt {{asset}}</b> based on the following trigger:<br />
<br />

Trigger:<br />
<strong>{{trigger}}</strong><br />
<br />

{% if expression %}
Expression:<br />
<strong>{{expression}}</strong><br />
<br />
{% endif%}

{% if details %}
Details:<br />
<strong>{{ details }}</strong><br />
<br />
{% endif %}

{% if comments %}
Comments:<br />
<strong>{{comments}}</strong><br />
<br />
{% endif %}

<a href='{{url}}'>Click here to view this alert on the OMS++ website</a><br />
<br />
Thank you,<br />
OMS++ Administration