{% load ui_tags %}
<div class="row" id="snapshot">
    <div class="col-lg-5">
        {% if item.has_cpm %}
        <div class="x_panel">
            <div class="x_title">
                <div class="pull-left">
                    <h2>{{ item.name }}</h2>
                </div>
                <div class="pull-right">
                    <div class="instrument-time {{ item.snapshot.platform_time|snapshot_date_class }}">
                        <label>Time:</label> {{ item.snapshot.platform_time|snapshot_date }} |
                        <label>LU:</label> {{ item.snapshot.mpic_last_update }}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {% if item.snapshot %}
                    <div class="field">
                        <label>Uptime</label>
                        <span>{{ item.snapshot.cpu_uptime }}</span>
                    </div>
                    <div class="field">
                        <label>Load</label>
                        <span>{{ item.snapshot.cpu_load }}</span>
                    </div>
                    <div class="field">
                        <label>Error Flags</label>
                        <span><a href="#" class="error-flags" data-endpoint="cpm-mpic-error-flags" data-title="{{ item.name }} Error Flags">{{ item.snapshot.mpic_eflag }}</a></span>
                    </div>
                    <div class="field">
                        <label>Temperature</label>
                        <span>{{ item.snapshot.mpic_temp }}</span>
                    </div>
                    <div class="field">
                        <label>Humidity</label>
                        <span>{{ item.snapshot.mpic_humid }} %</span>
                    </div>
                    <div class="field">
                        <label>Pressure</label>
                        <span>{{ item.snapshot.mpic_press }}</span>
                    </div>
                    <div class="field">
                        <label>Ground Fault</label>
                        <span>{{ item.snapshot.mpic_ground_fault }}</span>
                    </div>
                    <div class="field">
                        <label>Leak Detect</label>
                        <span>{{ item.snapshot.mpic_leak_detect }}</span>
                    </div>
                    <div class="field">
                        <label>Enabled:</label>
                        <span>gf={{ item.snapshot.mpic_ground_fault_enabled }} ld={{ item.snapshot.mpic_leak_detect_enabled }}</span>
                    </div>
                    <div class="field">
                        <label>Main</label>
                        <span>{{ item.snapshot.mpic_main }}</span>
                    </div>
                    <div class="field">
                        <label>Wake CPM</label>
                        <span>{{ item.snapshot.mpic_wake_cpm }}</span>
                    </div>
                    <div class="field">
                        <label>Heartbeat</label>
                        <span>{{ item.snapshot.mpic_heartbeat }}</span>
                    </div>
                    {% for hotel in item.snapshot.hotels %}
                        <div class="field">
                            <label>Hotel {{ hotel.number }}</label>
                            <span>{{ hotel.description }}</span>
                        </div>
                    {% endfor %}
                    <div class="field">
                        <label>Load Shed</label>
                        <span>{{ item.snapshot.loadshed_status }}</span>
                    </div>
                    <div class="field">
                        <label>AutoPwr</label>
                        <span>{{ item.snapshot.autopwr_status }}</span>
                    </div>
                    <div class="field">
                        <label>Alarms</label>
                        {% if item.snapshot.alarms %}
                        <div>
                            {% for alarm in item.snapshot.alarms %}
                                {{ alarm }}<br />
                            {% endfor %}
                        </div>
                        {% else %}
                        <span>None</span>
                        {% endif %}
                    </div>
                    <div class="field">
                        <label>Error Counts</label>
                        <span>{{ item.snapshot.error_counts }}</span>
                    </div>
                    <div class="field">
                        <label>Last Error(s)</label>
                        {% if item.snapshot.last_errors %}
                        <div>
                            {% for last_error in item.snapshot.last_errors %}
                                {{ last_error }}<br />
                            {% endfor %}
                        </div>
                        {% else %}
                        <span>None</span>
                        {% endif %}
                    </div>
                    <div class="field">
                        <label>Wake Schedule</label>
                        <span>{{ item.snapshot.wake_schedule }}</span>
                    </div>

                    <div class="group-header row">
                        <div class="col-md-3">
                            Timing Status
                        </div>
                        <div class="col-md-9 text-right">
                            <label>Time:</label> {{ item.snapshot.timing_pps_status.timestamp|snapshot_date }} |
                            <label>LU:</label> {{ item.snapshot.timing_last_update }}
                        </div>
                    </div>
                    <div class="field">
                        <label>Reference ID</label>
                        <span>{{ item.snapshot.timing_refid }}</span>
                    </div>
                    <div class="field">
                        <label>Offset</label>
                        <span>{{ item.snapshot.timing_offset }}</span>
                    </div>
                    <div class="field">
                        <label>Jitter</label>
                        <span>{{ item.snapshot.timing_jitter }}</span>
                    </div>
                    <div class="field">
                        <label>NMEA Lock</label>
                        <span>{{ item.snapshot.timing_pps_status.nmea_lock }}</span>
                    </div>
                    <div class="field">
                        <label>Bad Pulses</label>
                        <span>{{ item.snapshot.timing_pps_status.bad_pulses }}</span>
                    </div>

                    {% if item.snapshot.show_psc %}
                    <div class="group-header row">
                        <div class="col-md-6">
                            Power Controller
                        </div>
                        <div class="col-md-6 text-right">
                            <label>LU:</label> {{ item.snapshot.pwr_last_update }}
                        </div>
                    </div>
                    <div class="field">
                        <label>Wattage:</label>
                        <span>{{ item.snapshot.pwr_wattage }}</span>
                    </div>
                    <div class="field">
                        <label>Voltage:</label>
                        <span>{{ item.snapshot.pwr_voltage }}</span>
                    </div>
                    <div class="field">
                        <label>Current:</label>
                        <span>{{ item.snapshot.pwr_current }} ma</span>
                    </div>
                    <div class="field">
                        <label>Charge:</label>
                        <span>{{ item.snapshot.pwr_charge }}%</span>
                    </div>
                    <div class="field">
                        <label>Override:</label>
                        <span><a href="#" class="error-flags" data-endpoint="psc-override-flags" data-title="{{ item.name }} Power Controller Override Flags">{{ item.snapshot.pwr_override }}</a></span>
                    </div>
                    <div class="field">
                        <label>Error Flags:</label>
                        <span><a href="#" class="error-flags" data-endpoint="psc-error-flags" data-title="{{ item.name }} Power Controller Error Flags">{{ item.snapshot.pwr_error_flag1 }}, {{ item.snapshot.pwr_error_flag2 }}, {{ item.snapshot.pwr_error_flag3 }}</a></span>
                    </div>
                    <div class="field">
                        <label>Battery (degC)</label>
                        <span>{% for temperature in item.snapshot.pwr_battery_status.temperatures %}{{ temperature }} {% endfor %}</span>
                    </div>
                    <div class="field">
                        <label>Battery (v)</label>
                        <span>{% for voltage in item.snapshot.pwr_battery_status.voltages %}{{ voltage }} {% endfor %}</span>
                    </div>
                    <div class="field">
                        <label>Battery (ma)</label>
                        <span>{% for current in item.snapshot.pwr_battery_status.currents %}{{ current }} {% endfor %}</span>
                    </div>
                    <div class="field">
                        <label>Battery Net</label>
                        <span>{{ item.snapshot.pwr_battery_status.net_current }} {% if item.snapshot.pwr_battery_status.net_current < 0 %}Charging{% else %}Discharging {% endif %}</span>
                    </div>
                    <div class="field">
                        <label>Solar (ma):</label>
                        <span>{% for current in item.snapshot.pwr_solar_currents %}{{ current }} {% endfor %}</span>
                    </div>
                    <div class="field">
                        <label>Wind Turbine (ma):</label>
                        <span>{% for current in item.snapshot.pwr_wind_turbine_currents %}{{ current }} {% endfor %}</span>
                    </div>
                    <div class="field">
                        <label>Temp (degC)</label>
                        <span>{{ item.snapshot.pwr_temp }}</span>
                    </div>
                    <div class="field">
                        <label>375VDC CVT</label>
                        <span>
                            {{ item.snapshot.pwr_cvt.enabled|yesno:'ON,OFF' }}
                            {{ item.snapshot.pwr_cvt.voltage }} v
                            {{ item.snapshot.pwr_cvt.current }} ma
                            {{ item.snapshot.pwr_cvt.wattage }} w
                            {{ item.snapshot.pwr_cvt.temperature }} degC
                            Interlock: {{ item.snapshot.pwr_cvt.interlock }}
                        </span>
                    </div>
                    {% endif %}

                    {% if item.snapshot.show_mpea %}
                    <div class="group-header row">
                        <div class="col-md-6">
                            MPEA Controller
                        </div>
                        <div class="col-md-6 text-right">
                            <label>LU:</label> {{ item.snapshot.mpea_last_update }}
                        </div>
                    </div>
                    <div class="field">
                        <label>Wattage:</label>
                        <span>{{ item.snapshot.mpea_wattage }}</span>
                    </div>
                    <div class="field">
                        <label>Voltage:</label>
                        <span>{{ item.snapshot.mpea_voltage }}</span>
                    </div>
                    <div class="field">
                        <label>Error Flags</label>
                        <span><a href="#" class="error-flags" data-endpoint="mpea-error-flags" data-title="{{ item.name }} MPEA Error Flags">{{ item.snapshot.mpea_error_flag1 }}, {{ item.snapshot.mpea_error_flag2 }}</a></span>
                    </div>
                    <div class="field">
                        <label>Current:</label>
                        <span>{{ item.snapshot.mpea_current }} ma</span>
                    </div>
                    {% for cvt in item.snapshot.mpea_cvts %}
                        <div class="field">
                            <label>CVT{{ cvt.index }}</label>
                            <span>{{ cvt.enabled|yesno:'On,Off' }} {{ cvt.voltage }} v {{ cvt.current }} ma</span>
                        </div>
                    {% endfor %}
                    <div class="field">
                        <label>Aux:</label>
                        <span>{{ item.snapshot.mpea_aux }}</span>
                    </div>
                    <div class="field">
                        <label>Hotel:</label>
                        <span>{{ item.snapshot.mpea_hotel }}</span>
                    </div>
                    {% endif %}

                    {% if item.snapshot.telemetry|length > 0 %}
                    <div class="group-header row">
                        <div class="col-md-12">
                            CPM Telemetry Schedule Status
                        </div>
                    </div>
                    <div style="overflow-x:scroll">
                        <table class="section-table">
                            <thead>
                            <tr class="header-row">
                                <td>Name</td>
                                <td>State</td>
                                <td>Schedule</td>
                                <td>Status</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for telemetry_item in item.snapshot.telemetry %}
                                <tr>
                                    <td>{{ telemetry_item.name }}</td>
                                    <td>{{ telemetry_item.state }}</td>
                                    <td>{{ telemetry_item.schedule }}</td>
                                    <td>{{ telemetry_item.status }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}

                    {% if item.snapshot.power_schedule|length > 0 %}
                    <div class="group-header row">
                        <div class="col-md-12">
                            CPM Power Schedule Status
                        </div>
                    </div>
                    <div style="overflow-x:scroll">
                        <table class="section-table">
                            <thead>
                            <tr class="header-row">
                                <td>Name</td>
                                <td>State</td>
                                <td>Schedule</td>
                                <td>Status</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for power_schedule_item in item.snapshot.power_schedule %}
                                <tr>
                                    <td>{{ power_schedule_item.name }}</td>
                                    <td>{{ power_schedule_item.state }}</td>
                                    <td>{{ power_schedule_item.schedule }}</td>
                                    <td>{{ power_schedule_item.status }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}

                    <div class="group-header row">
                        <div class="col-md-6">GPS Status</div>
                        <div class="col-md-6 text-right">
                            <label>LU:</label> {{ item.snapshot.gps_last_update }}
                        </div>
                    </div>
                    <div class="field">
                        <label>Time</label>
                        <span>{{ item.snapshot.gps_timestamp }}</span>
                    </div>
                    <div class="field">
                        <label>Spd</label>
                        <span>{{ item.snapshot.gps_spd }}</span>
                    </div>
                    <div class="field">
                        <label>COG</label>
                        <span>{{ item.snapshot.gps_cog }}</span>
                    </div>
                    <div class="field">
                        <label>Lat</label>
                        <span>{{ item.snapshot.gps_lat }}</span>
                    </div>
                    <div class="field">
                        <label>Lon</label>
                        <span>{{ item.snapshot.gps_lon }}</span>
                    </div>
                    <div class="field">
                        <label>Alt</label>
                        <span>{{ item.snapshot.gps_alt }}</span>
                    </div>
                    <div class="field">
                        <label>Fix Quality</label>
                        <span>{{ item.snapshot.gps_fix_quality }}</span>
                    </div>
                    <div class="field">
                        <label>Nsat</label>
                        <span>{{ item.snapshot.gps_nsat }}</span>
                    </div>
                    <div class="field">
                        <label>Hdop</label>
                        <span>{{ item.snapshot.gps_hdop }}</span>
                    </div>
                {% else %}
                    <div class="alert alert-danger">Status file not found.</div>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>

    <div class="col-lg-7">
    {% for dcl in item.dcls %}
        <div class="row">
            <div class="x_panel">
                <div class="x_title">
                    <div class="pull-left">
                        <h2>{{ dcl.name }}</h2>
                    </div>
                    <div class="pull-right">
                        <div class="instrument-time {{ dcl.snapshot.platform_time|snapshot_date_class }}">
                            <label>Time:</label> {{ dcl.snapshot.platform_time|snapshot_date }} |
                            <label>LU:</label> {{ dcl.snapshot.mpic_last_update }}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {% if dcl.snapshot %}
                        <div class="row">
                            <div class="col-md-5">
                                <div class="field">
                                    <label>Uptime</label>
                                    <span>{{ dcl.snapshot.cpu_uptime }}</span>
                                </div>
                                <div class="field">
                                    <label>Load</label>
                                    <span>{{ dcl.snapshot.cpu_load }}</span>
                                </div>
                                {% if item.is_stc %}
                                    <div class="field">
                                        <label>Error Flags</label>
                                        <span><a href="#" class="error-flags" data-endpoint="cpm-mpic-error-flags" data-title="{{ dcl.name }} Error Flags">{{ dcl.snapshot.mpic_eflag }}</a></span>
                                    </div>
                                    <div class="field">
                                        <label>Error Flags 2</label>
                                        <span><a href="#" class="error-flags" data-endpoint="dcl-mpic-error-flags" data-title="{{ dcl.name }} Error Flags 2">{{ dcl.snapshot.mpic_stc_eflag2 }}</a></span>
                                    </div>
                                {% else %}
                                    <div class="field">
                                        <label>Error Flags</label>
                                        <span><a href="#" class="error-flags" data-endpoint="dcl-mpic-error-flags" data-title="{{ dcl.name }} Error Flags">{{ dcl.snapshot.mpic_eflag }}</a></span>
                                    </div>
                                {% endif %}
                                <div class="field">
                                    <label>Temperature</label>
                                    <span>{{ dcl.snapshot.mpic_temp }}</span>
                                </div>
                                <div class="field">
                                    <label>Humidity</label>
                                    <span>{{ dcl.snapshot.mpic_humid }}</span>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="field">
                                    <label>Pressure</label>
                                    <span>{{ dcl.snapshot.mpic_press }}</span>
                                </div>
                                <div class="field">
                                    <label>Ground Fault</label>
                                    <span>{{ dcl.snapshot.mpic_ground_fault }}</span>
                                </div>
                                <div class="field">
                                    <label>Leak Detect</label>
                                    <span>{{ dcl.snapshot.mpic_leak_detect }}</span>
                                </div>
                                <div class="field">
                                    <label>Enabled:</label>
                                    <span>gf={{ dcl.snapshot.mpic_ground_fault_enabled }} ld={{ dcl.snapshot.mpic_leak_detect_enabled }}</span>
                                </div>
                                <div class="field">
                                    <label>Main</label>
                                    <span>{{ dcl.snapshot.mpic_main }}</span>
                                </div>
                                {% if dcl.snapshot.mpic_wake_cpm %}
                                <div class="field">
                                    <label>Wake CPM</label>
                                    <span>{{ dcl.snapshot.mpic_wake_cpm }} <a href="#" class="wake-codes" data-endpoint="wake-codes" data-title="Wake Codes">View Wake Codes</a></span>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% if dcl.snapshot.mpic_hotel %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="field">
                                    <label>Hotel</label>
                                    <span>{{ dcl.snapshot.mpic_hotel }}</span>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="field">
                                    <label>Alarms</label>
                                    {% if item.snapshot.alarms %}
                                    <div>
                                        {% for alarm in item.snapshot.alarms %}
                                            {{ alarm }}<br />
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    <span>None</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="field">
                                    <label>Error Counts</label>
                                    <span>{{ dcl.snapshot.error_counts }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="field">
                                    <label>Last Error(s)</label>
                                    {% if item.snapshot.last_errors %}
                                    <div>
                                        {% for last_error in item.snapshot.last_errors %}
                                            {{ last_error }}<br />
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    <span>None</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>


                        <div class="group-header row">
                            <div class="col-md-2">GPS Status</div>
                            <div class="col-md-10 text-right">
                                <label>Time:</label> {{ dcl.snapshot.gps_timestamp|snapshot_date }} |
                                <label>LU:</label> {{ dcl.snapshot.gps_last_update }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="field">
                                    <label>Spd</label>
                                    <span>{{ dcl.snapshot.gps_spd }}</span>
                                </div>
                                <div class="field">
                                    <label>COG</label>
                                    <span>{{ dcl.snapshot.gps_cog }}</span>
                                </div>
                                <div class="field">
                                    <label>Lat</label>
                                    <span>{{ dcl.snapshot.gps_lat }}</span>
                                </div>
                                <div class="field">
                                    <label>Lon</label>
                                    <span>{{ dcl.snapshot.gps_lon }}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="field">
                                    <label>Alt</label>
                                    <span>{{ dcl.snapshot.gps_alt }}</span>
                                </div>
                                <div class="field">
                                    <label>Fix Quality</label>
                                    <span>{{ dcl.snapshot.gps_fix_quality }}</span>
                                </div>
                                <div class="field">
                                    <label>Nsat</label>
                                    <span>{{ dcl.snapshot.gps_nsat }}</span>
                                </div>
                                <div class="field">
                                    <label>Hdop</label>
                                    <span>{{ dcl.snapshot.gps_hdop }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="group-header row">
                            <div class="col-md-2">Timing Status</div>
                            <div class="col-md-10 text-right">
                                <label>Time:</label> {{ dcl.snapshot.timing_pps_status.timestamp|snapshot_date }} |
                                <label>LU:</label> {{ dcl.snapshot.timing_last_update }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="field">
                                    <label>Refid</label>
                                    <span>{{ dcl.snapshot.timing_refid }}</span>
                                </div>
                                <div class="field">
                                    <label>Offset</label>
                                    <span>{{ dcl.snapshot.timing_offset }}</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="field">
                                    <label>Jitter</label>
                                    <span>{{ dcl.snapshot.timing_jitter }}</span>
                                </div>
                                <div class="field">
                                    <label>NMEA Lock</label>
                                    <span>{{ dcl.snapshot.timing_pps_status.nmea_lock }}</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="field">
                                    <label>Bad Pulses</label>
                                    <span>{{ dcl.snapshot.timing_pps_status.bad_pulses }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="group-header row">
                            <div class="col-md-6">Instrument Port Status</div>
                        </div>
                        <div style="overflow-x:scroll">
                            <table class="section-table">
                                <thead>
                                <tr class="header-row">
                                    <td>Port</td>
                                    <td>Enabled</td>
                                    <td>Voltage</td>
                                    <td>ma</td>
                                    <td>Err</td>
                                    <td>Inst</td>
                                    <td>Status</td>
                                    <td>bad</td>
                                    <td>ld</td>
                                    <td>lu</td>
                                    <td>Type</td>
                                    <td>State</td>
                                    <td>Sched</td>
                                    <td>Status</td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for port in dcl.snapshot.ports %}
                                    <tr>
                                        <td>{{ port.number }}</td>
                                        <td>{{ port.enabled|yesno:'On,Off' }}</td>
                                        <td>{{ port.voltage }}</td>
                                        <td>{{ port.ma }}</td>
                                        <td>{{ port.err }}</td>
                                        <td>{{ port.name }}</td>
                                        <td>{{ port.status }}</td>
                                        <td>{{ port.bad }}</td>
                                        <td>{{ port.leak_detect }}</td>
                                        <td>{{ port.last_update }}</td>
                                        <td>{{ port.schedule_type|default_if_none:'' }}</td>
                                        <td>{{ port.schedule_state|default_if_none:'' }}</td>
                                        <td>{{ port.schedule_description|default_if_none:'' }}</td>
                                        <td>{{ port.schedule_status|default_if_none:'' }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="100">{{ dcl.snapshot.manager_status }}</td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    {% else %}
                        <div class="alert alert-danger">Status file not found.</div>
                    {% endif %}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    {% endfor %}
    </div>
</div>
