{% extends 'base.html' %}
{% load static %}
{% load status_tags %}

{% block topnav %}
    <h1>Edit Platform</h1>
{% endblock %}

{% block content %}

<div class="x_panel">
    <div class="x_content">
        <div class="row">
            <div class="col-md-4">
                <div class="x_panel">
                    <div class="x_title">Platform Details</div>
                    <div class="x_content">
                        {% if update_successful %}
                            <div class="alert alert-success">Platform has been updated</div>
                        {% endif %}

                        {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ form.non_field_errors }}
                        </div>
                        {% endif %}
                        <form id="" method="post" class="form-horizontal form-label-left">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label col-md-4">Platform</label>
                                <div class="col-md-8">
                                    <span class="form-control-static">{{ platform.name }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Deployment</label>
                                <div class="col-md-8">
                                    <span class="form-control-static">{{ platform.deployment.code }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Array</label>
                                <div class="col-md-8">
                                    <span class="form-control-static">{{ platform.group.display_name }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Category</label>
                                <div class="col-md-8">
                                    {{ form.category }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Subcategory</label>
                                <div class="col-md-8">
                                    {{ form.subcategory }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Disposition</label>
                                <div class="col-md-8">
                                    {{ form.disposition }}
                                    <p class='invalid-input'>{% if form.disposition.errors %}{{ form.disposition.errors.as_text }}{% endif %}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Deployed</label>
                                <div class="col-md-8">
                                    {{ form.deployment_date }}
                                    <p class='invalid-input'>{% if form.deployment_date.errors %}{{ form.deployment_date.errors.as_text }}{% endif %}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Recovered</label>
                                <div class="col-md-8">
                                    {{ form.recovery_date }}
                                    <p class='invalid-input'>{% if form.recovery_date.errors %}{{ form.recovery_date.errors.as_text }}{% endif %}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Latitude</label>
                                <div class="col-md-8">
                                    {{ form.lat }}
                                    <p class='invalid-input'>{% if form.lat.errors %}{{ form.lat.errors.as_text }}{% endif %}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Longitude</label>
                                <div class="col-md-8">
                                    {{ form.lon }}
                                    <p class='invalid-input'>{% if form.lon.errors %}{{ form.lon.errors.as_text }}{% endif %}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Depth (m)</label>
                                <div class="col-md-8">
                                    {{ form.depth }}
                                    <p class='invalid-input'>{% if form.depth.errors %}{{ form.depth.errors.as_text }}{% endif %}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Watch Circle Radius</label>
                                <div class="col-md-8">
                                    {{ form.watch_circle_radius }}
                                    <p class='invalid-input'>{% if form.watch_circle_radius.errors %}{{ form.watch_circle_radius.errors.as_text }}{% endif %}</p>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-4">Deployed Cruise</label>
                                <div class="col-md-8">
                                    {{ form.deployment_cruise }}
                                    <p class='invalid-input'>{% if form.deployment_cruise.errors %}{{ form.deployment_cruise.errors.as_text }}{% endif %}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Recovered Cruise</label>
                                <div class="col-md-8">
                                    {{ form.recovery_cruise }}
                                    <p class='invalid-input'>{% if form.recovery_cruise.errors %}{{ form.recovery_cruise.errors.as_text }}{% endif %}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4"></label>
                                <div class="col-md-8">
                                    <button type="submit" class="btn btn-primary btn-sm">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="clearfix"></div>

                    <div id="reload-configuration-section">
                        <div class="x_title">Reload Configuration</div>
                        <div class="x_content">
                            <form id="reload-form">
                                <input type="hidden" name="platform_code" value="{{ platform.code }}" />
                                <input type="hidden" name="deployment_code" value="{{ platform.deployment.code }}" />
                                <div id="reload-success" class="alert alert-success" style="display:none">
                                    The platform has been reloaded successfully
                                </div>
                                <div id="reload-error" class="alert alert-danger" style="display:none"></div>

                                <p>Reload the platforms configuration from one of the following sources:</p>
                                <label>
                                    <input type="radio" name="source" value="cfg" style="margin-left:0" checked />
                                    Platform configuration file on server
                                </label>
                                <label>
                                    <input type="radio" name="source" value="yaml" style="margin-left:0" />
                                    Import from platform YAML file
                                </label>

                                <div style="padding-left: 20px">(metadata only)</div>

                                <p style="margin:10px 0 15px 0; padding-left: 20px;">
                                    <input type="file" name="file" disabled />
                                </p>

                                <div class="text-center">
                                    <img src="{% static 'images/loading.gif' %}" id="loading-icon" />
                                    <button type="button" id="reload-configuration" class="btn btn-sm btn-primary">Reload Configuration</button>
                                </div>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_title">Other Deployments</div>
                    <div class="x_content">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>Deployment</td>
                                    <td>Disposition</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for asset in related_assets %}
                                <tr>
                                    <td>{{ asset.deployment.code }}</td>
                                    <td>{{ asset.disposition.name }}</td>
                                    <td><a href="{% url 'asset.edit_platform' asset.id %}">Edit</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="text-center">
                        <a href="{% url 'asset.manage_platforms' %}" class="btn btn-primary">Return to Platform List</a>
                    </div>
                </div>
            </div>
            {% if not is_new %}
            <div id="status-grid-container" class="col-md-8 pull-right">
                <div class="row x_panel" id="status-grid">
                    <div class="x_title">
                        <h2><div class="pull-right" id="platform-status-header">Platform Status</div></h2>
                        <div class="clearfix"></div>
                    </div>
                    {% status_grid platform.id platform.id platform.deployment.code %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        Pages.EditPlatform.init("{{ platform.id }}");
    });
</script>
{% endblock %}
