{% extends "base.html" %}
{% load static %}
{% load ui_tags %}
{% load status_tags %}

{% block topnav %}
    <div class="asset-overview-header">
        <h1>{{ asset.code }} {% if asset.platform.name != asset.name %} on
            {% firstof asset.platform.name asset.name %} {% endif %} ({{ deployment.name }}) -- Updated:
            {% if last_updated_time %}
                <mark class="{{ last_updated_time|date:'c'|update_date_class }}">
                    {{ last_updated_time|date:"Y-m-d H:i:s" }} UTC
                </mark>{% else %}
                <mark class="none-highlight">None</mark>{% endif %}</h1>
    </div>
{% endblock %}

{% block content %}
    {% asset_nav asset.id deployment.code plot_pages current_asset_page %}
    <div class="x_panel">
        <div class="x_content">
            <form id="edit_asset_form" method="post" class="form-horizontal form-label-left">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Reference Designator</label>
                            <div>{{ form.reference_designator }}</div>
                            {% if form.reference_designator.errors %}{{ form.reference_designator.errors.as_text }}{% endif %}
                        </div>
                        <div class="form-group">
                            <label class="control-label">Serial Number</label>
                            <div>{{ form.serial_number }}</div>
                            {% if form.serial_number.errors %}{{ form.serial_number.errors.as_text }}{% endif %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Parsed Data</label>
                            <div>{{ form.parsed_data_glob }}</div>
                            {% if form.parsed_data_glob.errors %}{{ form.parsed_data_glob.errors.as_text }}{% endif %}
                        </div>
                        <div class="form-group">
                            <label class="control-label">Raw Data</label>
                            <div>{{ form.raw_data_glob }}</div>
                            {% if form.raw_data_glob.errors %}{{ form.raw_data_glob.errors.as_text }}{% endif %}
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="alert alert-info">
                            <p>
                                Parsed and Raw data values should be relative paths beginning with the asset and
                                deployment code. They may contain wildcard characters to match multiple files.
                                <br /><br />
                                Example: <strong>as03cpsm/D0001/mfn/superv/cpm3/*.syslog.json</strong>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <br />
                    <div class="form-group">
                        <a href="/asset/overview/{{ asset.id }}/{{ asset.deployment.code }}" class="btn btn-default">Cancel</a>
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            Pages.EditAsset.init();
        });
    </script>
{% endblock %}