{% extends 'base.html' %}
{% load static %}

{% block topnav %}
<h1>Manage Classifications</h1>
{% endblock %}

{% block content %}

<div class="x_panel">
    <div class="x_title">
        <h2>{% if is_new %}Create New Classification{% else %}Edit Classification{% endif %}</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        <form id="classification-form" method="post" autocomplete="off" class="form-horizontal form-label-left">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{ form.name.label_tag }} <span class="required">*</span></label>
                        <div class="col-md-6">
                            {{ form.name }}
                            {% if form.name.errors %}{{ form.name.errors.as_text }}{% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">{{ form.abbreviation.label_tag }} <span class="required">*</span></label>
                        <div class="col-md-6">
                            {{ form.abbreviation }}
                            {% if form.abbreviation.errors %}{{ form.abbreviation.errors.as_text }}{% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">{{ form.is_virtual.label_tag }}</label>
                        <div class="col-md-6">
                            {{ form.is_virtual }}
                            {% if form.is_virtual.errors %}{{ form.is_virtual.errors.as_text }}{% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">{{ form.pattern.label_tag }}</label>
                        <div class="col-md-6">
                            {{ form.pattern }}
                            {% if form.pattern.errors %}{{ form.pattern.errors.as_text }}{% endif %}
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-2">{{ form.description.label_tag }}</label>
                        <div class="col-md-10">
                            {{ form.description }}
                            {% if form.description.errors %}{{ form.description.errors.as_text }}{% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-default" id="cancel-button">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static '/vendor/jquery-validation/1.16.0/additional-methods.min.js' %}"></script>
<script type="text/javascript">
    $(function(){
        jQuery.validator.addMethod('matching_passwords', function(value, element){
            if ($("#id_password").val() == '') return true;

            return $("#id_new_password").val() == $("#id_confirm_password").val();
        }, "* Passwords do not match");

        jQuery.validator.addMethod('req_password_on_new_users', function(value, element){
            return $("#id_is_new_user").val() != 'True' || $("#id_new_password").val() != '';
        }, "* A password is required for all new users");

        jQuery.validator.addMethod('req_groups', function(value, element){
             return $('input:checkbox[name=groups]:checked').length > 0;
        }, "* The user needs to be assigned to a group");

        $("#profile-form").validate({
            rules: {
                first_name: "required",
                last_name: "required",
                username: "required",
                email: { required: true, email: true },
                new_password: { req_password_on_new_users : true },
                confirm_password: { matching_passwords : true },
                groups: {req_groups : true},
                sms_number: "phoneUS",
            },
            messages: {
                first_name: "First Name is required",
                last_name: "Last Name is required",
                username: "Username is required",
                email: {
                    required: "Email is required",
                    email: "Email is invalid"
                },
                groups: "A group is required",
                sms_number: "Enter a valid phone number",
            },
            errorElement: "em",
            errorPlacement: function (error, element) {
                // Add the `help-block` class to the error element
                error.addClass("help-block");
                if ( element.prop("type") === "checkbox" ) {
                    var $inputBoxes = $('input[name=' + element[0].name + ']');
                    if ($inputBoxes.length == 0) {
                        error.insertAfter(element.parent("label"));
                    } else {
                        error.insertBefore($($inputBoxes[0]).parent());
                    }
                } else {
                    error.insertAfter(element);
                }
            },
            highlight: function (element, errorClass, validClass ) {
                $(element).closest(".form-group").addClass("has-error");
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).closest(".form-group").removeClass("has-error");
            }
        });

        $("#classification-form").submit(function(e) {
            if (!$("#classification-form").valid()) {
                e.preventDefault();
                return false;
            }
        });

        $("#cancel-button").click(function(e){
            e.preventDefault();

            window.location.href = "{% url 'asset.manage_classifications' %}";
            return false;
        });
    });
</script>
{% endblock %}