{% extends 'base.html' %}
{% load static %}
{% load ui_tags %}

{% block topnav %}
{% if "create" in request.get_full_path %}
    <h1>Create Plot</h1>
    {% else %}
    <h1>Edit Plot</h1>
    {% endif %}
{% endblock %}

{% block content %}

<div class="x_panel">
    <div class="x_title">
        {% if "create" in request.get_full_path %}
        <h2>Create Custom Plot</h2>
        {% else %}
        <h2>Update Existing Plot</h2>
        {% endif %}
        <div class="clearfix"></div>
    </div>
    <div class="x_content">

        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        <form id="custom-save-form" method="post" class="form-horizontal form-label-left" novalidate>

            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="x_panel edit-page-panel">
                        <div class="x_content">
                            <div class="asset-chooser form-group {% if not asset %} invalid-input {% endif %}" style="margin-bottom: 0">
                                <label class="control-label">Choose Base Asset<span class="required"> *</span></label>
                                <div class="asset-chooser-text" style="font-size: 13px; font-weight: normal;">
                                    {% asset_picker 'assetpicker' %}
                                </div>
                            </div>

                            <div class="form-group" style="margin-bottom: 0">
                                <label class="control-label">{{ form.name.label_tag }}<span class="required"> *</span></label>
                                <div>
                                    {{ form.name }}
                                    <p class='invalid-input'>{% if form.name.errors %}{{ form.name.errors.as_text }}{% endif %}</p>
                                </div>
                            </div>

                            <div class="form-group" style="margin-bottom: 0">
                                <label class="control-label">{{ form.plot_type.label_tag }}<span class="required"> *</span></label>
                                <div>
                                    {{ form.plot_type }}
                                    <p class='invalid-input'>{% if form.plot_type.errors %}{{ form.plot_type.errors.as_text }}{% endif %}</p>
                                </div>
                            </div>

                            <div class="form-group" style="margin-bottom: 0">
                                <label class="control-label">{{ form.yaxis_orientation.label_tag }}<span class="required"> *</span></label>
                                <div>
                                    {{ form.yaxis_orientation }}
                                    <p class='invalid-input'>{% if form.yaxis_orientation.errors %}{{ form.yaxis_orientation.errors.as_text }}{% endif %}</p>
                                </div>
                            </div>

                            <div class="form-group" style="margin-bottom: 0; height:0">
                                <!--<label class="control-label">{{ form.plot_class.label_tag }}<span class="required"> *</span></label>-->
                                <div>
                                    {{ form.plot_class }}
                                    <p class='invalid-input'>{% if form.plot_class.errors %}{{ form.plot_class.errors.as_text }}{% endif %}</p>
                                </div>
                            </div>

                            <div class="form-group " style="margin-bottom: 0">
                                <label class="control-label">{{ form.plot_relative_to.label_tag }}<span class="required"> *</span></label>
                                <div style="text-align:left">
                                    {{ form.plot_relative_to }}
                                </div>
                                <p class='invalid-input'>{% if form.plot_relative_to.errors %}{{ form.plot_relative_to.errors.as_text }}{% endif %}</p>
                            </div>
                            <div class="form-group time_window_wrapper" style="margin-bottom: 0" >
                                <label class="control-label">{{ form.timeframe.label_tag }}<span class="required"> *</span></label>
                                <div>
                                    {{ form.timeframe }}
                                    <p class='invalid-input'>{% if form.timeframe.errors %}{{ form.timeframe.errors.as_text }}{% endif %}</p>
                                </div>
                            </div>

                            <div class="form-group dates_wrapper" style="margin-bottom: 0" >
                                <label class="control-label">{{ form.start_date.label_tag }}<span class="required"> *</span></label>
                                <div>
                                    {{ form.start_date }}
                                    <p class='invalid-input'>{% if form.start_date.errors %}{{ form.start_date.errors.as_text }}{% endif %}</p>
                                </div>
                                <label class="control-label">{{ form.end_date.label_tag }}<span class="required"> *</span></label>
                                <div>
                                    {{ form.end_date }}
                                    <p class='invalid-input'>{% if form.end_date.errors %}{{ form.end_date.errors.as_text }}{% endif %}</p>
                                </div>
                            </div>
                            <div class="form-group {% if not perms.core.edit_shared_items %} not-visible{% endif %}" style="margin-bottom: 0">
                                <label class="control-label">Is Shared:</label>
                                <div>
                                    {{ form.is_global }}
                                </div>
                                <p class='invalid-input'>{% if form.is_global.errors %}{{ form.is_global.errors.as_text }}{% endif %}</p>
                            </div>

                            <div class="form-group {% if not perms.core.edit_shared_items %} not-visible {% endif %}" id="owner-div" style="margin-bottom: 0">
                                <label class="control-label">{{ form.owner.label_tag }}<span class="required"> *</span></label>
                                <div>
                                    {{ form.owner }}
                                    <p class='invalid-input'>{% if form.owner.errors %}{{ form.owner.errors.as_text }}{% endif %}</p>
                                </div>
                            </div>

                            <div class="form-group" style="margin-bottom: 0">
                                <label class="control-label">{{ form.default_on_platforms.label_tag }}</label>
                                <div>
                                    {{ form.default_on_platforms }}
                                    <p class='invalid-input'>{% if form.default_on_platforms.errors %}{{ form.default_on_platforms.errors.as_text }}{% endif %}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style='margin-top: 15px;'>
                        <button type="button" class="btn btn-default" id="cancel-button">{% if is_readonly %}Return{% else %}Cancel{% endif %}</button>
                        {% if not is_readonly %}
                            <input type="submit" class="btn btn-primary" value="Save"/>
                            {% if edit_type == "create" %}
                                <button type="button" class="btn btn-primary" id="add-another-button">Save and Add Another</button>
                            {% endif %} 
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 pull-left">
                    <div class="x_panel edit-page-panel">
                        <div class="x_content">
                            <div class="variable-chooser form-group {% if not asset %} invalid-input {% endif %}" style="margin-bottom: 0">
                                <label class="control-label">Choose Variable Source<span class="required"> *</span>
                                </label>
                                <div class="variable-chooser-text" style="font-size: 13px; font-weight: normal;">
                                    {% asset_picker 'varpicker' %}
                                </div>
                            </div>

                            <div>
                                <div>
                                    <label class="control-label" style="margin-bottom: 8px">X-Axis Variable Selector *</label>
                                </div>
                                <div id="container-x">
                                    <select name="variable" class="multiselect hidden" id="plot-variable-x" multiple="multiple">
                                        {% comment %}
                                        {% for variable in variables %}
                                        <option value="{{ variable.id }}">{{ variable.name }}</option>
                                        {% endfor %}
                                        {% endcomment %}
                                    </select>
                                    <p class="plot-menu-label"></p>
                                </div>
                                {% if asset %}
                                    <p id="variable-loading-text-x" style="color: #0000ff">menu loading...</p>
                                {% endif %}

                                <div class="form-group" style="margin: 8px 0 0">
                                    <div>
                                        <label class="control-label">{{ form.variables_x.label_tag }}<span class="required"> *</span></label>
                                        <!--hidden div-->
                                        <div>
                                            {{ form.variables_x }}
                                        </div>
                                    </div>
                                    <div id="variables_list_x">
                                        {% for xvar in xvarArr %}
                                            <div data-var-id='{{ xvar.id }}'>
                                                <p class="no-wrap-x" style="margin-bottom: 0px; margin-left: 5px; max-width: 153px; ">
                                                    <a class="delete-variable" data-var-id='{{ xvar.id }}' style="text-decoration: none; font-size: 20px;" href="#" aria-label="close">&times;</a>
                                                    <span>{{ xvar.name }}</span>
                                                </p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div>
                                    <label class="control-label" style="margin-bottom: 8px">Y-Axis Variable Selector *</label>
                                </div>
                                <div id="container-y">
                                    <select name="variable" class="multiselect hidden" id="plot-variable-y" multiple="multiple">
                                        {% comment %}
                                        {% for variable in variables %}
                                        <option value="{{ variable.id }}">{{ variable.name }}</option>
                                        {% endfor %}
                                        {% endcomment %}
                                    </select>
                                    <p class="plot-menu-label"></p>
                                </div>
                                {% if asset %}
                                    <p id="variable-loading-text-y" style="color: #0000ff">menu loading...</p>
                                {% endif %}

                            </div>


                            <div class="form-group" style="margin: 8px 0 0">
                                <div>
                                    <label class="control-label">{{ form.variables_y.label_tag }}<span class="required"> *</span></label>
                                    <!--hidden div-->
                                    <div>
                                        {{ form.variables_y }}
                                    </div>
                                </div>
                                <div id="variables_list_y" style="max-height: 140px; overflow-y: auto">
                                    {% for yvar in yvarArr %}
                                        <div data-var-id='{{ yvar.id }}'>
                                            <p class="no-wrap-x" style="margin-bottom: 0px; margin-left: 5px; max-width: 153px; ">
                                                <a class="delete-variable" data-var-id='{{ yvar.id }}' style="text-decoration: none; font-size: 20px;" href="#" aria-label="close">&times;</a>
                                                <span>{{ yvar.name }}</span>
                                            </p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>



                            {% csrf_token %}
                        </div>

                        <button type="button" id="plot-button" class="btn btn-sm btn-primary update-plot hidden"
                                      data-plot-id="plot-preview-container" data-asset-id="{{ asset.id }}"
                                        data-plot-name="custom-plot" data-plot-global="global_{{ plot.is_global }}"
                                        data-deployment-id="{{ deployment.id }}" style="position: absolute; right: 5px; bottom: 5px">
                                    Preview
                        </button>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 pull-left">
                  <div class="x_panel edit-page-panel">
                    <div class="x_title">
                      <h2> Preview </h2>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <div class="x_panel">
                          <div id="plot-preview-container" style="height: 425px; align-items: center; display: flex">
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}


{% block scripts %}
    {% asset_picker_scripts 'assetpicker' 'varpicker' %}
    {% asset_picker_scripts 'varpicker' %}

    <!-- <script>
        document.addEventListener('DOMContentLoaded', function() {
        });
    </script> -->
    <script type="text/javascript">

    
    document.addEventListener('DOMContentLoaded', function() {    


        var config = {
            asset:{
                id:'{{ asset.id }}',
                name:'{{ asset.name }}'
            },
            platform:{
                id:'{{ platform.id }}',
                name:'{{ platform.name }}'
            },
            deployment:{
                code:'{{ deployment.code }}'
            },
            xvarArr:{{ xvarArr|safe }},
            yvarArr:{{ yvarArr|safe }},
            plot:{
                is_global: '{{ plot.is_global }}',
                start_date:  "{{ plot.start_date|date:'Y-m-d'}}",
                end_date:  "{{ plot.end_date|date:'Y-m-d'}}",
                plot_time_range:  '{{ plot.plot_time_range.days|default:"-1" }}',
                plot_relative_to: '{{plot.plot_relative_to}}',
            },
            is_readonly: '{{ is_readonly }}'=='True',
            userId: {{ request.user.id }},
            from_where: '{{ from_where }}',
        }
        PlotCommon.plot_class_dict = {{ plot_class_dict|safe }};
        PlotCommon.time_choices_dict = {{ time_choices_dict|safe }};
        Pages.EditPlot.init(config);

    });


    </script>
{% endblock %}
