{% extends "base.html" %}
{% load static %}
{% load ui_tags %}
{% load status_tags %}

{% block topnav %}
<div class="asset-overview-header">
    <h1>{{ asset.code }} {% if asset.platform.name != asset.name %} on {% firstof asset.platform.name asset.name %} {% endif %} ({{deployment.name}}) -- Updated:
    {% if last_updated_time %}<mark class="{{ last_updated_time|date:'c'|update_date_class }}">{{ last_updated_time|date:"Y-m-d H:i:s" }} UTC</mark>{% else %}<mark class="none-highlight">None</mark>{% endif %}</h1>
</div>
{% endblock %}

{% block content %}

{% asset_nav asset.id deployment.code plot_pages current_asset_page %}
<div class="x_panel">
    <div class="x_content">
        <div>
            <div class="col-md-5" style="padding:9px">
                <form class="form-inline">
                    <input type="hidden" value="{{ asset.id }}" id="asset_id" />
                    <div class="form-group">
                        <label>Dataset ID:</label>
                        <input type="text" value="{{ asset.erddap_id|default_if_none:'' }}" class="form-control form-control-sm" id="erddap_id" name="asset_erddap_id" />
                    </div>
                    <button type="button" class="btn btn-sm btn-primary" id="preview">Preview</button>
                    <button type="button" class="btn btn-sm btn-danger hide" id="remove-dataset" style="margin-left:10px">Remove</button>
                </form>
            </div>
            <div class="col-md-7 well well-sm">
                <div class="col-md-4 text-center">
                    <label>Platform:</label>
                    <span class="form-control-static">{{ asset.platform.code }}</span>
                </div>
                <div class="col-md-4 text-center">
                    <label>Deployment:</label>
                    <span class="form-control-static">{{ asset.deployment.code }}</span>
                </div>
                <div class="col-md-4 text-center">
                    <label>Instrument:</label>
                    <span class="form-control-static">{{ asset.code }}</span>
                </div>
            </div>
        </div>

        <div id="message-panel" class="clear hide">
            <div class="alert alert-success" id="message"></div>
        </div>

        <div id="confirm-panel" class="well clear hide">
            <div id="confirm-no-updates" class="hide">
                <p>No variable changes were detected</p>
                <div class="row">
                    <button type="button" class="btn btn-default" id="ok-no-updates">Cancel</button>
                </div>
            </div>
            <div id="confirm-has-updates">
                <div id="has-blockers" class="alert alert-danger hide">
                    The updates cannot be made because it would delete variables that are currently in use. Please see the list below for details
                </div>
                Do you want to proceed with the changes listed below?
                <ul id="update-list"></ul>
                <div>
                    <button type="button" class="btn btn-default" id="cancel">Cancel</button>
                    <button type="button" class="btn btn-primary" id="confirm">Confirm</button>
                </div>
            </div>
        </div>
        <div id="changes-panel" class="hide">
            <div id="errors" class="clear alert alert-danger hide">
                The following rows have errors and must be corrected before applying the updates:
                <ul id="error-list"></ul>
            </div>
            <div class="text-right">
                <button type="button" class="btn btn-primary" id="update-top">Update</button>
            </div>
            <form id="update-form" method="post">
                {% csrf_token %}
                <input type="hidden" value="" name="remove" id="remove_dataset" />
                <table id="variables" class="table table-striped table-bordered" width="100%"></table>
                <div class="text-right">
                    <button type="button" class="btn btn-primary" id="update">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    let variablesTable = null;
    let groupDataId = 'group-{{ asset.group_id }}';
    let platformId = 'platform-{{ asset.platform_id }}';

    $(function(){
        if ($("#erddap_id").val() != "") {
            $("#remove-dataset").toggleClass("hide", false);
        }

        SetupCurrentSideNavMenu(groupDataId, platformId);

        variablesTable = $("#variables").DataTable({
    	    dom: 'frtip',
    	    order: [],
    	    info: false,
            ajax: {
                type: "post",
                url: "/asset/ajax/asset_variables",
                data: function() {
                    return {
                        "asset_id": $("#asset_id").val(),
                        "erddap_id": $("#erddap_id").val()
                    }
                }
            },
            columns: [
                {
                    title: "Row",
                    className: "text-center",
                    data: "row"
                },
                {
                    title: "Name",
                    data: "name",
                    render: function(data, type, row) {
                        return (
                            "<input type='hidden' name='variable_id' value='" + (row.id != "0" ? row.id : "") + "' />" +
                            "<input type='text' name='name' class='form-control form-control-sm input-sm data-variable-readonly' readonly value='" + data + "' />"
                        );
                    }
                },
                {
                    title: "Data Variable",
                    data: "erddap_id",
                    render: function(data) {
                        return "<input type='text' name='erddap_id' class='form-control form-control-sm input-sm data-variable-readonly' readonly value='" + data + "' />";
                    }
                },
                {
                    title: "Units",
                    data: "units",
                    render: function(data) {
                        return "<input type='text' name='units' class='form-control form-control-sm input-sm data-variable-readonly' readonly value='" + data + "' />";
                    }
                },
                {
                    title: "New Name",
                    data: "new_name",
                    render: function(data, type, row) {
                        if (row.readonly) {
                            return (
                                "<input type='hidden' name='new_name' value='" + data + "' />" +
                                "<small>" + data + "</small>"
                            );
                        }

                        return "<input type='text' name='new_name' class='form-control form-control-sm input-sm data-variable-input' value='" + data + "' />";
                    }
                },
                {
                    title: "New Data Variable",
                    data: "new_erddap_id",
                    render: function(data, type, row) {
                        if (row.readonly) {
                            return (
                                "<input type='hidden' name='new_erddap_id' value='" + data + "' />" +
                                "<small>" + data + "</small>"
                            );
                        }

                        return "<input type='text' name='new_erddap_id' class='form-control form-control-sm input-sm data-variable-input' value='" + data + "' />";
                    }
                },
                {
                    title: "New Units",
                    data: "new_units",
                    render: function(data, type, row) {
                        if (row.readonly) {
                            return (
                                "<input type='hidden' name='new_units' value='" + data + "' />" +
                                "<small>" + data + "</small>"
                            );
                        }

                        return "<input type='text' name='new_units' class='form-control form-control-sm input-sm data-variable-input' value='" + data + "' />";
                    }
                },
                {
                    render: function(data, type, row) {
                        if (row.readonly) {
                            return "";
                        }

                        return "<a href='' class='delete-variable'><i class='text-danger fa fa-times'></i></a>"
                    }
                }
            ],
            paging: false,
            searching: false,
            ordering: false
        });

        $("#preview").click(function(){
            if ($("#erddap_id").val() == "")
                return;

            $("#remove_dataset").val("");
            $("#confirm-panel").toggleClass("hide", true);
            $("#changes-panel").toggleClass("hide", false);
            $("#message-panel").toggleClass("hide", true);

            variablesTable.ajax.reload();
        });

        $("#update-form").submit(function(e){
            e.preventDefault();
        });

        $("#update, #update-top, #remove-dataset").click(function(){
            $("#message-panel").toggleClass("hide", true);

            let request = $("#update-form").serialize();
            request += "&asset_id=" + $("#asset_id").val();

            if ($(this).attr("id") == "remove-dataset") {
                $("#remove_dataset").val("true");
                request += "&asset_erddap_id=&remove=true";
            } else {
                $("#remove_dataset").val("");
                request += "&asset_erddap_id=" + $("#erddap_id").val();
            }

            $.post(
                "/asset/ajax/update_erddap",
                request,
                function(resp) {
                    $("#has-blockers").toggleClass("hide", !resp.has_blockers);
                    $("#confirm").toggleClass("hide", resp.has_blockers);

                    if (resp.errors.length > 0) {
                        $("#errors").toggleClass("hide", false);
                        $("#error-list").empty();
                        for (var i = 0; i < resp.errors.length; i++) {
                            $("#error-list").append(
                                $("<li>" + resp.errors[i] + "</li>")
                            );
                        }
                        return;
                    }

                    $("#errors").toggleClass("hide", true);

                    $("#confirm-no-updates").toggleClass("hide", resp.changes.length > 0);
                    $("#confirm-has-updates").toggleClass("hide", resp.changes.length == 0);

                    $("#update-list").empty();
                    for (var i = 0; i < resp.changes.length; i++) {
                        $("#update-list").append(
                            $("<li>" + resp.changes[i] + "</li>")
                        );
                    }

                    $("#remove_dataset").val(resp.remove);
                    $("#confirm-panel").toggleClass("hide", false);
                    $("#changes-panel").toggleClass("hide", true);
                }
            );
        });

        $("#confirm").click(function(){
            let request = $("#update-form").serialize();
            request +=
                "&asset_id=" + $("#asset_id").val() +
                "&asset_erddap_id=" + $("#erddap_id").val() +
                "&confirmed=true"

            let remove = $("#remove_dataset").val() == "true";
            $("#confirm-panel").toggleClass("hide", true);
            $("#changes-panel").toggleClass("hide", remove);

            $.post(
                "/asset/ajax/update_erddap",
                request,
                function(resp) {
                    $("#confirm-panel").toggleClass("hide", true);
                    $("#changes-panel").toggleClass("hide", remove);

                    if (!remove) {
                        variablesTable.ajax.reload();
                        $("#remove-dataset").toggleClass("hide", false);
                        $("#message").text("The variables for this dataset have been updated");
                    } else {
                        variablesTable.clear().draw();
                        $("#erddap_id").val("");
                        $("#remove-dataset").toggleClass("hide", true);
                        $("#message").text("The dataset and all variables have been removed");
                    }

                    $("#message-panel").toggleClass("hide", false);
                    window.scrollTo(0, 0);
                }
            );
        });

        $("#cancel, #ok-no-updates").click(function(){
            $("#confirm-panel").toggleClass("hide", true);
            $("#changes-panel").toggleClass("hide", false);
        });

        $("#update-form").on("click", ".delete-variable", function(e){
            e.preventDefault();

            $(this).closest("tr").find(".data-variable-input").val('');
        });
    });
</script>
{% endblock %}