{% extends 'base.html' %}
{% load static %}
{% load ui_tags status_tags %}

{% block topnav %}
<h1>{{ group.display_name }}</h1>
{% endblock %}

{% block content %}
<div class="clearfix"></div>
{% for num, group in plat_dict.items %}
<div class="row row-eq-height">
    {% for glider in group %}
    {% for glider_name, all_glider_data in glider.items %}
    <div class="col-lg-4">
        <div class="x_panel glider">
            <div class="x_title">
                <h2>{{ glider_name }} {% if all_glider_data.latest_time %}({{ all_glider_data.latest_time|date:"n/j/y"|lower }}){% endif %}</h2>
                <div class="clearfix"></div>
            </div>
            {% for asset in all_glider_data.glider_deployments %}
            <div class="x_content">
                <div class="row">
                    <div class="col-lg-3">
                        <div>
                            {# last_update could be None or some date #}
                            {% if asset.last_update and asset.is_data_recent %}
                                <i class="fa fa-circle circle-glider-status-ok glider-status-circle"
                                    title="Updated: {% if asset.last_update %}{{asset.last_update|date:'n/j/y'|lower}}{% endif %}">
                                </i>
                            {% else %}
                                <i class="fa fa-circle circle-status-error glider-status-circle"
                                   title="Updated: {% if asset.last_update %}{{asset.last_update|date:'n/j/y'|lower}}{% else %}data not available{% endif %}">
                                </i>
                            {% endif %}
                            {{asset.deployment.name}}
                        </div>
                    </div>
                    <div class="col-lg-9 text-right glider-links">
                        <a href="{{ asset.erddap_data_url }}" target="_blank">ERDDAP Data</a> |
                        <a href="{{ asset.erddap_graph_url }}" target="_blank">ERDDAP Graphs</a>
                        {% if asset.raw_data_dir %}
                        | <a href="{{ asset.raw_data_dir }}" target="_blank">Raw Data</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    {% endfor %}
</div>
{% endfor %}


{% endblock %}