{% extends 'base.html' %}
{% load static %}
{% load ui_tags status_tags %}

{% block topnav %}
    <h1>{{ group.display_name }} -- Mooring Map {% if specific_platform_code %} ({{specific_platform_code}}) {% endif %}</h1>
{% endblock %}

{% block content %}
<div id="map">
    <div id="no-data-tag"><h1>No Data Available</h1></div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        let groupDataId = 'group-{{ group.id }}';
        SetupCurrentSideNavMenu(groupDataId, null);
    });

    // https://github.com/pointhi/leaflet-color-markers

    document.addEventListener('DOMContentLoaded', function() {
        let allMooringsGroup = L.featureGroup([]);
        let activeMooringGroup = L.featureGroup([]);
        let time_position_array;
        let watch_circle;
        let headMarker;

        let config = {};

        let moorings = [];
        let mrg;

        config.fallback_position = {{fallback_position}};
        {% for mooring in output_mooring_data %}

            mrg = {}
            // time_position_array is in this format: [time, lat, lon]
            time_position_array = {{ mooring.time_position_array }};
            if (time_position_array[0]>time_position_array.slice(-1)[0]) {
                time_position_array.reverse();
            }

            // add the watch circle to the plot first so the other markers are drawn on top
            // watch_circle = {{ mooring.watch_circle_data }}
            mrg.watch_circle = {{ mooring.watch_circle_data }};
            mrg.platform_code = '{{ mooring.platform_code }}';
            mrg.platform_id = '{{ mooring.platform_id }}';
            mrg.deployment_code = '{{ mooring.deployment_code }}';
            mrg.alerts = '{{ mooring.alerts }}';
            mrg.time_position_array = time_position_array;

            moorings.push(mrg);

        {% endfor %}

        config.moorings = moorings;

        Pages.MooringLocations.init(config);

    });
</script>
{% endblock %}
