{% extends 'base.html' %}
{% load static %}

{% block topnav %}
    <h1>Import Platform</h1>
{% endblock %}

{% block content %}
<div class="x_panel">
    <div class="x_content">

        <form method="post" class="form-horizontal form-label-left" id="import-form">
            <input type="hidden" name="confirmed" id="confirmed" />
            {% csrf_token %}

        <div class="row">
            <div class="col-md-5">
                <div class="x_panel">
                    <div class="x_title">Platform Details</div>
                    <div class="x_content">
                        <div class="form-group">
                            <label class="control-label col-md-4">Platform Code</label>
                            <div class="col-md-8">
                                {% if ready_for_import %}
                                    <div class="form-control-static">{{ form.platform_code.value|default_if_none:"" }}</div>
                                    <input type="hidden" name="platform_code" value='{{ form.platform_code.value|default_if_none:"" }}' />
                                {% else %}
                                    <span class="form-control-static">{{ form.platform_code }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Deployment Code</label>
                            <div class="col-md-8">
                                {% if ready_for_import %}
                                    <div class="form-control-static">{{ form.deployment_code.value|default_if_none:"" }}</div>
                                    <input type="hidden" name="deployment_code" value='{{ form.deployment_code.value|default_if_none:"" }}' />
                                {% else %}
                                    <span class="form-control-static">{{ form.deployment_code }}</span>
                                {% endif %}
                            </div>
                        </div>
                        {% if ready_for_import %}
                        <div class="form-group">
                            <label class="control-label col-md-4">Group</label>
                            <div class="col-md-8">
                                {{ form.group }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Category</label>
                            <div class="col-md-8">
                                {{ form.category }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Subcategory</label>
                            <div class="col-md-8">
                                {{ form.subcategory }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Disposition</label>
                            <div class="col-md-8">
                                {{ form.disposition }}
                                <p class='invalid-input'>{% if form.disposition.errors %}{{ form.disposition.errors.as_text }}{% endif %}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% if not ready_for_import %}
                        <div class="form-group">
                            <label class="control-label col-md-4"></label>
                            <div class="col-md-8">
                                <button type="submit" class="btn btn-primary btn-sm">Verify Information</button>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if verified %}
            <div class="col-md-6">
                {% csrf_token %}
                {% if existing_asset and not import_succeeded %}
                <div class="alert alert-info text-center">
                    The selected platform/deployment has already been imported. <br />You can view the platform below, or proceed with importing the new platform config and overwrite the existing platform.
                </div>
                <div class="text-center">
                    <a href="{% url 'asset.overview' existing_asset.id existing_asset.deployment.code %}" class="btn btn-primary btn-sm">View Platform</a>
                    <button type="submit" class="btn btn-danger btn-sm" id="confirm-import">Import Platform/Mooring</button>
                </div>
                {% endif %}

                {% if missing_config %}
                <div class="alert alert-danger text-center">
                    A platform configuration file for the platform/deployment could not be located
                </div>
                {% endif %}

                {% if ready_for_import %}
                <div class="alert well">
                    <p>A platform configuration file was found for this platform/deployment, and it has not already been imported. Please review the configuration file and data before completing the import process</p>
                    <br />
                    <div class="text-center">
                        <a href="{{ data_url }}" target="_blank" class="btn btn-default btn-sm">View Data Directory</a>
                        <a href="{{ config_url }}" target="_blank" class="btn btn-default btn-sm">View Platform Config</a>
                        <button type="submit" class="btn btn-primary btn-sm" id="confirm-import">Import Platform/Mooring</button>
                    </div>

                    <div id="import-platform-loading">
                        <p>Importing platform from the platform configuration file. Please wait...</p>
                        <img src="{% static 'images/loading.gif' %}" />
                    </div>
                </div>
                {% endif %}

                {% if import_failed %}
                <div class="alert alert-danger text-center">
                    <p>The platform/deployment failed to import: {{ import_message }}</p>
                </div>
                {% endif %}

                {% if import_succeeded %}
                <div class="alert alert-success text-center">
                    <p>The platform/deployment has been successfully imported</p>
                </div>
                <p class="text-center">
                    <a href="{% url 'asset.overview' new_asset.id new_asset.deployment.code %}" class="btn btn-primary btn-sm">View Platform</a>
                </p>
                {% endif %}
            </div>
            {% endif %}
        </div>

        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $("#id_category").on('change', function() {
        var id = $("#id_category option:selected").val();
        getSubcategories(id, 0);
    });

    $(function() {
        $("#confirm-import").click(function(){
            $("#import-platform-loading").show();
            $("#confirmed").val(true);

            return true;
        });

        $("#import-form").submit(function(){
            if ($("#confirmed").val() == "true") {
                $(this).attr('disabled','disabled');
            }
        });

        var flag = '{{ update_successful }}';
        if($("#id_category option:selected").val() != '0') {
            var id = $("#id_category option:selected").val();
            var sub_id = $("#id_subcategory option:selected").val();
            getSubcategories(id, sub_id);
        }
        else if(flag != 'True' && $("#id_category option:selected").val() == '0') {
            $("#id_subcategory").find('option').remove();
            $("#id_subcategory").append($('<option value="0">Select a Subcategory</option>'));
        }


        {% if ready_for_import %}
            $("#id_disposition").val({{ default_disposition }});
        {% endif %}
    });

    function getSubcategories(id, selected) {
        if (id === "")
            return;

        $.ajax({
            url: "{% url 'asset.subcategories' %}",
            method: 'POST',
            data: { 'id': id },
            success: function(response) {
                $("#id_subcategory").find('option').remove();

                if (response.data && response.data.length > 0)
                {
                    for (var i = 0; i < response.data.length; i++) {
                        var subcategory = response.data[i];
                        var selectedAttr =  subcategory.id == selected ? " selected" : "";

                        $("#id_subcategory").append(
                            $("<option value='" + subcategory.id + "'" + selectedAttr + ">" + subcategory.name + "</option>")
                        );
                    }
                }
            }
        });
    };


</script>
{% endblock %}
