{% extends 'base.html' %}
{% load static %}
{% load ui_tags %}

{% block topnav %}
    <h1>Manage Platforms</h1>
{% endblock %}


{% block content %}

<div class="alert alert-success alert-dismissible hide" style="clear:left" id="purge-success">
    <span id="purge-message"></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="x_panel">
    <div class="x_content" id="platform-content">
        <div class="row disposition-filters" id="dispositions">
            <div class="col-md-6 text-left">
                Disposition:
                {% for disposition in dispositions %}
                <label>
                    <input
                            id="disposition_input"
                            type="checkbox"
                            data-value="{{ disposition.id }}"
                            {% if disposition.id in shown_dispositions %}checked="checked"{% endif %} />
                    {{ disposition.name }}
                </label>
                {% endfor %}
            </div>
            {% if perms.core.edit_platforms %}
            <div class = 'col-md-6 text-right'>
            <a href="{% url 'asset.import_platform' %}" class="btn btn-sm btn-primary pull-right">Import Platform</a>
            </div>
            {% endif %}
        </div>
        <table id="platforms" class="table table-striped table-bordered" width="100%"></table>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
    function platform_link_for_management(data, type, row) {
        var linkStr= '<a href="/asset/overview/' + row['id'] + '/' + row['deployment__code'] + '/">'+ data + '</a>';
        return linkStr;
    }
    var platformTable = null;
    $(function() {
        var editUrl = "{% url 'asset.edit_platform' 0 %}";

        var columns = [
            {
                data: "id",
                visible: false
            },
            {
                title: "Name",
                data: "name",
                render: platform_link_for_management
            },
            {
                title: "Deployment",
                data: "deployment__code"
            },
            {
                title: "Category",
                data: "category__name"
            },
            {
                title: "Subcategory",
                data: "subcategory__name"
            },
            {
                title: "Disposition",
                data: "disposition__name"
            }
        ];

        {% if request.user.is_superuser %}
        columns.push({
            data: "id",
            orderable: false,
            render: function(data, type, row){
                return "<a href='#' data-platform='" + data + "' data-deployment='" + row.deployment__code + "' class='purge-alerts'>Purge Alerts</a>";
            }
        });
        {% endif %}

        {% if perms.core.edit_platforms %}
        columns.push({
            data: "id",
            orderable: false,
            render: function (data) {
                return "<a href='" + editUrl.replace('0', data) + "'>Edit</a>";
            }
        });
        {% endif %}

		platformTable = $("#platforms").DataTable({
            dom: "frtip",
            paging: true,
            pageLength: 25,
            searching: true,
            ordering: true,
            info: true,
            order: [],
            ajax: {
                    url: "{% url 'asset.platform_list' %}",
                    method: 'POST',
                    data: function(d) {

                        let checked_disps = []
                        $("#dispositions input[type=checkbox]").each(function(){
                            const id = $(this).attr('data-value');
                            $("div[data-disposition-id=" + id + "]").toggleClass('hide', !$(this).is(":checked"));
                            if ($(this).is(":checked")) {
                                checked_disps.push(id)
                            }
                        })
                        checked_disps_sql_list = checked_disps.join(',')
                        d.asset_disposition = checked_disps_sql_list
                        return d;
                    }
            },
            columns: columns
        });

        $("#dispositions input[type=checkbox]").click(function(){
            platformTable.ajax.reload()
        });

        {% if request.user.is_superuser %}
        $("#platform-content").on("click", ".purge-alerts", function(e){
            e.preventDefault();

            if (!confirm("Are you sure you want to purge all alerts that were generated for this platform?"))
                return;

            var platformId = $(this).data("platform");
            var deploymentCode = $(this).data("deployment");

            $.ajax({
                type: "POST",
                url: '/asset/ajax/purge-alerts',
                data: {
                    "platform_id": platformId,
                    "deployment_code": deploymentCode
                },
                success: function(response) {
                    if (response.success) {
                        $("#purge-success")
                            .toggleClass("hide", false)
                            .toggleClass("alert-success", response.failed == 0)
                            .toggleClass("alert-danger", response.failed > 0);

                        if (response.amount > 0 && response.failed == 0) {
                            $("#purge-message").text("The " + response.amount + " alert(s) for the selected deployment have been purged")
                        } else if (response.failed > 0) {
                            $("#purge-message").text(response.amount + " alert(s) for the selected deployment have been purged, but " + response.failed + " could not be purged")
                        } else {
                            $("#purge-message").text("The selected deployment did not have any alerts to purge")
                        }
                    }
                }
            });

        });
        {% endif %}
    });
</script>

{% endblock %}