{% extends 'base.html' %}
{% load static %}
{% load ui_tags %}

{% block topnav %}
    <h1>Manage Classifications</h1>
{% endblock %}


{% block content %}

<div class="alert alert-success alert-dismissible hide" style="clear:left" id="purge-success">
    <span id="purge-message"></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="x_panel">
    <div class="x_content">
        <div class="row">
            <div class="col-md-6 text-left">

            </div>
            {% if perms.core.edit_platforms %}
            <div class = 'col-md-6 text-right'>
            <a href="{% url 'asset.edit_classification' %}" class="btn btn-sm btn-primary pull-right">Add Classification</a>
            </div>
            {% endif %}
        </div>
        <div id="classifications-wrapper">
            <table id="classifications" class="table table-striped table-bordered" width="100%"></table>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
    let classificationsTable = null;

    function deleteClassification(id) {
        if (!confirm('Are you sure you want to delete this classification?'))
            return;

        $.ajax({
            method: "POST",
            url: '/asset/ajax/delete_classification',
            data: {
                'classification_id': id
            },
            success: function(resp) {
                if (!resp.success) {
                    Common.add_failed_message(resp.error);
                    return;
                }

                Common.add_success_message('The classification has been deleted successfully.');
                classificationsTable.ajax.reload();
            }
        });
    }

    $(function() {
        var editUrl = "{% url 'asset.edit_classification' 0 %}";

        var columns = [
            {
                title: "Abbreviation",
                data: "abbreviation"
            },
            {
                title: "Name",
                data: "name",
            },
            {
                title: "Description",
                data: "description"
            },
            {
                title: "Virtual?",
                data: "is_virtual",
                render: function(data) {
                    return data ? 'Yes' : 'No'
                }
            },
            {
                title: "Pattern",
                data: "pattern"
            },
            {
                title: '# of Assets',
                data: 'asset_count'
            },
        ];

        {% if perms.core.edit_platforms %}
        columns.push(
            {
                data: "id",
                orderable: false,
                render: function (data) {
                    return "<a href='" + editUrl.replace('0', data) + "'>Edit</a>";
                }
            },
            {
                data: 'id',
                orderable: false,
                render: function(data) {
                    return "<a href='#' data-id='" + data + "' class='delete-classification'>Delete</a>";
                }
            });
        {% endif %}

		classificationsTable = $("#classifications").DataTable({
            dom: 'frtip',
            paging: true,
            pageLength: 25,
            searching: true,
            ordering: true,
            info: true,
            order: [[0, 'asc']],
            ajax: {
                url: '{% url 'asset.classification_list' %}',
                method: 'POST',
            },
            columns: columns
        });

        $('#classifications-wrapper').on('click', '.delete-classification', function(e) {
           deleteClassification($(this).data('id'));
        });
    });
</script>

{% endblock %}