{% extends 'base.html' %}
{% load static %}
{% load ui_tags %}

{% block topnav %}
    <h1>Manage Plots </h1>
{% endblock %}


{% block content %}

<div class="x_panel">
    <div class="x_content" id="plot-list">
        <div class="row disposition-filters" id="dispositions">
            <div class = 'col-md-6 text-left'>
                <select class="asset-select pull-left">
                    <option value="">All Platforms</option>
                    {% for platform in platforms %}
                        <option value="{{ platform.id }}">{{ platform.name }} ({{ platform.deployment.name }})</option>
                    {% endfor %}
                </select>
            </div>
            <div class = 'col-md-6 text-right'>
                <button style="margin-left: 10px" id='addplot' class="btn btn-sm btn-primary pull-right">Add New Plot</button>
                <button style="margin-left: 10px"  id="btn-export-selected" class="btn btn-sm btn-primary pull-right">Export Selected</button>
                <a style="" href="{% url 'plot.import_plots' %}" id="btn-import-plots" class="btn btn-sm btn-primary pull-right">Import Plots</a>
            </div>
            <div class="col-md-6 text-left">
                Disposition:
                {% for disposition in dispositions %}
                <label>
                    <input
                            id="disposition_input"
                            type="checkbox"
                            data-value="{{ disposition.id }}"
                            {% if disposition.id in shown_dispositions %}checked="checked"{% endif %} />
                    {{ disposition.name }}
                </label>
                {% endfor %}
            </div>
        </div>
        <table id="plots" class="table table-striped table-bordered" width="100%"></table>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', function() {
            let config = {
                editShared: '{{ perms.core.edit_shared_items|yesno:"true,false" }}',
                editOthers: '{{ perms.core.edit_other_items|yesno:"true,false" }}',
                deleteShared: '{{ perms.core.delete_shared_items|yesno:"true,false" }}',
                deleteOthers: '{{ perms.core.delete_other_items|yesno:"true,false" }}',
                cloneShared: '{{ perms.core.clone_shared_items|yesno:"true,false" }}',
                cloneOthers: '{{ perms.core.clone_other_items|yesno:"true,false" }}',

            }
            Pages.ManagePlots.init(config);
        });
    </script>

{% endblock %}