{#  #}
{% extends "base.html" %}
{% load static %}
{% load ui_tags %}
{% load status_tags %}

{% block topnav %}
<div class="asset-overview-header">
    <h1>{{ asset.code }} {% if asset.platform.name != asset.name %} on {% firstof asset.platform.name asset.name %} {% endif %} ({{deployment.name}}) -- Updated:
    {% if last_updated_time %}<mark class="{{ last_updated_time|date:'c'|update_date_class }}">{{ last_updated_time|date:"Y-m-d H:i:s" }} UTC</mark>{% else %}<mark class="none-highlight">None</mark>{% endif %}</h1>
</div>
{% endblock %}

{% block content %}
{% asset_nav asset.id deployment.code plot_pages current_asset_page %}

    <style>
        #bottom-panel {
            background:#ffffff;
            border:solid 1px #dddddd;
            border-top:none
        }

        .sbd-log-table {
            width:100%;
        }
        .sbd-log-table td {
            border-bottom: solid 1px #ccc;
            padding-right:15px;
            vertical-align:top;
        }

        .sbd-log-table th {
            padding-right:15px;
            vertical-align:bottom;
        }

        .transfer-column {
            width:200px;
            white-space: nowrap;
        }
        .data-column {
            width:100%;
        }
    </style>
<div id="asset-overview">
    <div class="row">
        <div class="col-md-5" id="alert-container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs" style="border-bottom:none">
                        <li class="active"><a href="#tab-alert-history" data-toggle="tab">Alert History</a></li>
                        <li><a href="#tab-status-change-log" data-toggle="tab">Status Change Log</a></li>
                    </ul>
                </div>
            </div>
            <div class="with-nav-tabs panel-default x_panel panel_toolbox">
                <div class="x_content">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab-alert-history">
                            <div id="active-alerts-filter">
                                <input type="radio" name="alerts-shown" id="active-alerts" checked="checked"/>
                                <label for="active-alerts">Active Alerts</label>
                                <input type="radio" name="alerts-shown" id="all-alerts"/>
                                <label for="all-alerts">All Alerts</label>
                            </div>
                            <table id="alerts" class="table table-striped table-bordered" width="100%"></table>
                        </div>
                        <div class="tab-pane fade" id="tab-status-change-log">
                            <table id="status-history" class="table table-striped table-bordered" width="100%"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="status-grid-container" class="col-md-7 pull-right">
            <div class="row x_panel" id="status-grid">
              <div class="x_title">
                <h2><div class="pull-right" id="platform-status-header">Platform Status</div></h2>
                <div class="pull-right">
                  <a class="toggle-status-grid" id="hide-status-grid">Hide <i class="fa fa-angle-double-right"></i></a>
                </div>
                <div class="clearfix"></div>
              </div>
              {% status_grid asset.id platform.id deployment.code %}
            </div>
            <div class="row x_panel hidden status-grid-mini-container" id="status-grid-mini">
                {% mini_status_grid asset deployment %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel-default">
            <div>
                <ul class="nav nav-tabs overview-tabs">
                    <li class="active"><a href="#tab-plots" data-toggle="tab">System Monitoring Plots</a></li>
                    {% for cpm in instruments %}
                        <li><a href="#tab-{{ cpm.position }}" data-toggle="tab">{{ cpm.position }} Status</a></li>
                    {% endfor %}
                    {% for log in sbd_logs %}
                        <li><a href="#tab-{{ log.filename }}" data-toggle="tab">{{ log.name }} - {{ log.filename }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div id="bottom-panel" class="panel-body overview-bottom-panel">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab-plots">
                        <div class="row" id="sys-monitoring-section">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>{{ plot_page_name }}</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li>
                                            <form action="{% url 'plot.plot_list' asset.id %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="page_name" value="{{ plot_page_name }}"/>
                                                <input type="hidden" name="plot_page_id" value="{{ plot_page_id }}"/>
                                                <input type="hidden" name="asset_overview" value="True"/>
                                                
                                                <input type="hidden" name="default_plots" id="default_plots" value=""/>

                                                <label>
                                                    <input type="checkbox" name="sync_plots" />
                                                    Sync Plots
                                                </label>

                                                <select id="plot-column-select" data-num-columns="{{plot_page_num_columns}}" style="margin-left:10px">
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                                <label>Plots Per Row</label>

                                                <button type="submit" id="edit"
                                                        class="btn btn-sm btn-primary customize-plots-button"
                                                        style="margin-left:10px">
                                                    {% if plot_page_id == 0 %}
                                                        Customize
                                                    {% else %}
                                                        Edit
                                                    {% endif %}
                                                    Plots
                                                </button>
                                            </form>
                                        </li>
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="" id="plot-list-overview" data-plot-page-id="{{ plot_page_id }}">
                                    {% for plot in plots %}
                                        <div class="plot-list-plot plot-col-{{plot_page_num_columns}}" id="plot-{{ plot.id }}" data-id="{{ plot.id }}">
                                            <div class="x_panel">
                                                <div class="x_title draggable">
                                                    <ul class="nav navbar-right panel_toolbox">
                                                        <li class="horizontal-selects-wrapper overview">

                                                            <select class="time-window time-window{{ plot.id }} time_window_wrapper">
                                                                {% for id, val in time_choices_dict.items %}
                                                                    {% if plot.plot_time_range.id == id %}
                                                                        <option value="{{ id }}"
                                                                                selected>{{ val.name }}</option>
                                                                    {% else %}
                                                                        <option value="{{ id }}">{{ val.name }}</option>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </select>

                                                            <select class="plot-type-window{{ plot.id }} plot-type-window">
                                                                {% for val, name in plot_type_choices %}
                                                                    {% if not plot.plot_type and val == 1 %}
                                                                        <option value="{{ val }}"
                                                                                selected>{{ name }}</option>
                                                                    {% elif plot.plot_type.id == val %}
                                                                        <option value="{{ val }}"
                                                                                selected>{{ name }}</option>
                                                                    {% else %}
                                                                        <option value="{{ val }}">{{ name }}</option>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </select>

                                                            <select class="relative-to relative-to{{ plot.id }} ">
                                                                {% for val, name in plot_relative_to_choices %}
                                                                    {% if plot.plot_relative_to == val %}
                                                                        <option value="{{ val }}"
                                                                                selected>{{ name }}</option>
                                                                    {% else %}
                                                                        <option value="{{ val }}">{{ name }}</option>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </select>
                                                            <div class="plot-date-pickers dates_wrapper">
                                                                <input name="end_date" type="text"
                                                                       placeholder="End Date"
                                                                       autocomplete="new-password"
                                                                       class="datepicker end_date end_date{{ plot.id }}"
                                                                       value="{{ plot.end_date|date:'Y-m-d'}}">
                                                                <input name="start_date" type="text"
                                                                       placeholder="Start Date"
                                                                       autocomplete="new-password"
                                                                       class="datepicker start_date start_date{{ plot.id }}"
                                                                       value="{{ plot.start_date|date:'Y-m-d'}}">
                                                            </div>
                                                            <select class="y-axis-orientation{{ plot.id }}">
                                                                {% for val, name in yaxis_choices %}
                                                                    <option value="{{ val|lower }}"
                                                                            {% if plot.yaxis_dir %}
                                                                            selected {% endif %}>
                                                                        Y-Axis {{ name|lower }}
                                                                    </option>
                                                                {% endfor %}
                                                            </select>

                                                            <button type="button"
                                                                    class="btn btn-xs btn-primary update-plot plot-btn"
                                                                    data-plot-id="{{ plot.id }}"
                                                                    data-asset-id="{{ plot.asset.id }}"
                                                                    data-x-variable-id="{{ plot.x_var }}"
                                                                    data-y-variable-id="{{ plot.y_var }}"
                                                                    data-plot-class="{{ plot.plot_class.name }}"
                                                                    data-yaxis-direction="{{ plot.yaxis_dir }}"
                                                                    data-plot-global="global_{{ plot.is_global }}"
                                                                    data-plot-name="{{ plot.name }}"
                                                                    data-deployment-id="{{ deployment.id }}"
                                                                    style="margin-right:20px">Plot
                                                            </button>

                                                        </li>
                                                        <li><a class="collapse-link-all"><i
                                                                class="fa fa-chevron-up"></i></a></li>
                                                        {% if plot_page_id == 0 %}
                                                        {% else %}
                                                            <li><a class="close-link-all"><i
                                                                    class="fa fa-close"></i></a></li>
                                                        {% endif %}
                                                    </ul>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="x_content">
                                                    <div id="plot{{ plot.id }}" class="pre-loaded-plot"
                                                         style="align-items: center; display:flex"></div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2> Additional Plots </h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link-all"><i class="fa fa-chevron-up"></i></a></li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div id="additional-plots" class="x_panel" style="height: 500px">
                                                <div class="axis-menu-container" id="container-x">
                                                    <p class="plot-menu-label">X-Axis</p>
                                                    <select name="variable" class="hidden" id="plot-variable-x"
                                                            multiple="multiple">
                                                        {% for variable in variables %}
                                                            <option value="{{ variable.id }}">{{ variable.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <p id="variable-loading-text-x" style="color: #0000ff">menu
                                                        loading...</p>
                                                </div>
                                                <div class="axis-menu-container" id="container-y">
                                                    <p class="plot-menu-label">Y-Axis</p>
                                                    <select name="variable" class="hidden" id="plot-variable-y"
                                                            multiple="multiple">
                                                        {% for variable in variables %}
                                                            <option value="{{ variable.id }}">{{ variable.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <p id="variable-loading-text-y" style="color: #0000ff">menu
                                                        loading...</p>
                                                </div>
                                                <div class="axis-menu-container">
                                                    <p class="plot-menu-label">Y-Axis Orientation</p>
                                                    <select class="y-axis-orientation0" id="y-axis-orientation">
                                                        {% for val, name in yaxis_choices %}
                                                            <option value="{{ val|lower }}">
                                                                Y-Axis {{ name|lower }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="axis-menu-container">
                                                    <p class="plot-menu-label">Markers</p>
                                                    <select id="id_plot_type" class="plot-type-window0">
                                                        {% for val, name in plot_type_choices %}
                                                            <option value="{{ val }}">{{ name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="axis-menu-container">
                                                    <p class="plot-menu-label">Relative To</p>
                                                    <select class="relative-to relative-to0" id="relative-to">
                                                        {% for val, name in plot_relative_to_choices %}
                                                            <option value="{{ val }}">{{ name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="axis-menu-container time_window_wrapper">
                                                    <p class="plot-menu-label">Time Constraint</p>
                                                    <select name="time_window" class="time-window time-window0"
                                                            id="time-window-template">
                                                        {% for id, val in time_choices_dict.items %}
                                                            <option value="{{ id }}">{{ val.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="axis-menu-container dates_wrapper">
                                                    <input name="start_date" type="text" placeholder="Start Date"
                                                           class="datepicker start_date start_date0">
                                                    <input name="end_date" type="text" placeholder="End Date"
                                                           class="datepicker end_date end_date0">
                                                </div>

                                                <div style="position: absolute; bottom: 5px; right: 5px">
                                                    <button id="plot-button" type="button"
                                                            class="btn btn-sm btn-primary update-plot"
                                                            data-plot-id="0" data-asset-id="{{ asset.id }}"
                                                            data-plot-name="custom-plot" data-plot-global="global_False"
                                                            data-deployment-id="{{ deployment.id }}">
                                                        Plot
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="x_panel">
                                                {{ plot }}
                                                <div>
                                                    <div id="plot0"
                                                         style="height:300px; style=align-items: center;display:flex"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for item in instruments %}
                        <div class="tab-pane fade" id="tab-{{ item.position }}">
                            {% include 'asset/_snapshot.html' %}
                        </div>
                    {% endfor %}
                    {% for log in sbd_logs %}
                        <div class="tab-pane fade" id="tab-{{ log.filename }}">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Logs for {{ log.name }} instrument {{ log.filename }}</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <table id="sbd-{{ log.filename }}-table" style="width:100%" class="sbd-log-table"></table>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>

<div id="sbd-mo-description-modal" class="dialog-box">
    <div class="description"></div>
</div>

<div id="error-flag-modal" class="dialog-box">
    <table class="table table-striped">
        <thead>
            <tr>
                <td class="flag-number">#</td>
                <td class="value-name">Flag (Hex)</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div id="wake-code-modal" class="dialog-box">
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Bit</td>
                <td>Hex</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        // initial plots

        let editShared = '{{ perms.core.edit_shared_items|yesno:"true,false" }}';

        let plots = [];
        let plt;
            
        {% for plot in plots %}
            plt = {};
            plt.id = '{{ plot.id }}';
            plt.asset_id = {{ plot.asset.id }} //probably make this a string too?
            plt.deployment_id = '{{ plot.asset.deployment.id }}';
            plt.name = "{{ plot.name|safe }}";
            plt.time_window = {{ plot.plot_time_range.days }};
            plt.global = '{{ plot.is_global }}' === 'True' && !editShared ? 'global_True' : 'global_False';
            
            if ('{{ plot.plot_type }}' === 'None' || '{{ plot.plot_type }}' === 'Line') {
                plt.plot_type = 'line';
            } else if ('{{ plot.plot_type }}' === 'Scatter') {
                plt.plot_type = 'scatter'
            } else {
                plt.plot_type='line';
            }
            plt.y_direction = '{{ plot.yaxis_dir }}'.toLowerCase() === 'true' ? true : false;
            if ('{{ plot.plot_class }}' === 'None' || '{{ plot.plot_class }}' === 'Timeseries') {
                plt.plot_class = 'Timeseries';
                plt.x_var = 'time';
            } else {
                plt.plot_class = 'Comparison';
                plt.x_var = '{{ plot.x_var }}';
            }
            plt.y_var = '{{ plot.y_var }}';
            plt.start_date = "{{ plot.start_date|date:'Y-m-d'}}";
            plt.end_date = "{{ plot.end_date|date:'Y-m-d'}}";
            plt.relative_to = "{{ plot.plot_relative_to}}";
            plt.time_window = {{ plot.plot_time_range.days }};

            plots.push(plt)
        {% endfor %}
        

        let sbd_logs= []
        {% for log in sbd_logs %}
            sbd_logs.push({
                'filename': '{{ log.filename }}',
                'name': '{{ log.name }}',
                'path': '{{ log.path }}'
            });
        {% endfor %}

        document.addEventListener('DOMContentLoaded', function() {

            PlotCommon.plot_class_dict = {{ plot_class_dict|safe }};
            PlotCommon.time_choices_dict = {{ time_choices_dict|safe }};
            let config = {
                plots: plots,
                sbd_logs: sbd_logs,
                asset: {
                    id: '{{asset.id}}',
                    platform_id: '{{asset.platform_id}}',
                    group_id: '{{asset.group_id}}'
                },
                deployment: {
                    id: '{{deployment.id}}',
                    code: '{{deployment.code}}'
                },  

                plot_page_name: "{{ plot_page_name }}",
                plot_page_id: "{{ plot_page_id }}",
                editShared: editShared,
                editOthers: '{{ perms.core.edit_other_items|yesno:"true,false" }}',
                deleteShared: '{{ perms.core.delete_shared_items|yesno:"true,false" }}',
                deleteOthers: '{{ perms.core.delete_other_items|yesno:"true,false" }}',
                cloneShared: '{{ perms.core.clone_shared_items|yesno:"true,false" }}',
                cloneOthers: '{{ perms.core.clone_other_items|yesno:"true,false" }}',
                userId: {{ request.user.id }},

            }
            Pages.Overview.init(config);
        });

        

            

    </script>
{% endblock %}