{% extends 'base.html' %}
{% load ui_tags %}
{% load status_tags %}

{% block topnav %}
<h1>Parsed data for <strong>{{asset.name}}</strong> on <strong>{{platform.name}} ({{deployment.name}})</strong></h1>

{% endblock %}

{% block content %}
{% asset_nav asset.id deployment.code plot_pages current_asset_page %}

    <style>
        textarea {
            width:100%;
            min-height:200px;
            height:400px;
            border:solid 1px #ccc;
            resize:vertical;
        }
        .content-header {
            padding-bottom:5px;
        }

        .x_content {
            min-height: 400px;
        }

        .subsection input[type=radio] {
            margin-right:0;
        }

        .subsection:first-child {
            margin-left:0px
        }

        .subsection {
            margin-left:35px
        }

        #parsed-profile {
            margin-bottom:5px
        }

        #parsed-profile span {
            font-weight:bold;
        }

        #location-path, #location-file {
            font-weight:bold;
        }

        #plot-variable-container .dropdown-toggle {
            line-height:.8 !important
        }
    </style>
<div id="setup-panel" >
    <div class="x_panel" >
        <div class="x_content" >
            <div class="row" >
                <div class="col-md-12 col-sm-12">
                    <div class="x_content">
                        {% if not files %}
                            <div class="well">No parsed data files were found.</div>
                        {% else %}
                        <div class="row content-header">
                            <div class="col-md-4">
                                <div>Path: <span id="location-path">{{ files.0.path }}</span></div>
                                <div>File: <span id="location-file">{{ files.0.filename }}</span></div>
                            </div>

                        <div class="col-md-2 text-center">
                            <button type="button" class="btn btn-small btn-primary btn-sm" id="plot-data">Plot Data</button>
                        </div>

                            <div class="col-md-6 text-right data-file">
                                <label style="margin-right:25px">
                                    <input type="checkbox" id="enable-paging" checked />
                                    Paging
                                </label>

                                Data File:
                                <select id="data-file">
                                    {% for file in files %}
                                        <option value="{{ file.path }}/{{ file.filename }}">{{ file.filename }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row">

                            <div class="alert alert-danger" id="parsed-data-message" style="display:none"></div>
                            <div id="parsed-data-table">
                                {% if asset.does_instrument_have_nested_data %}
                                <div class="row well" id="parsed-profile">
                                    <div data-section="profile" class="hide">
                                        <div class="col-md-4">
                                            <div>Profile ID: <span id="parsed-profile-id"></span></div>
                                            <div>Sensor On: <span id="parsed-sensor-on"></span></div>
                                            <div>Sensor Off: <span id="parsed-sensor-off"></span></div>
                                        </div>
                                        <div class="col-md-4">
                                            <div>Profile Status: <span id="parsed-profile-status"></span> - <span id="parsed-pretty-profile-status"></span></div>
                                            <div>Motion Start: <span id="parsed-motion-start"></span></div>
                                            <div>Motion End: <span id="parsed-motion-end"></span></div>
                                        </div>
                                        <div class="col-md-4">
                                            <div>Ramp Status: <span id="parsed-ramp-status"></span></div>
                                            <div>Start Depth: <span id="parsed-start-depth"></span></div>
                                            <div>End Depth: <span id="parsed-end-depth"></span></div>
                                        </div>
                                    </div>
                                    <div data-section="summarydata" class="hide">
                                        <div class="col-md-3">
                                        <div>ID: <span id="parsed-id"></span></div>
                                        <div>Serial Number: <span id="parsed-serial-number"></span></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div>Date/Time: <span id="parsed-date-time"></span></div>
                                        <div>Voltage: <span id="parsed-voltage"></span></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div>Records: <span id="parsed-records"></span></div>
                                        <div>Length: <span id="parsed-length"></span></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div>Events: <span id="parsed-events"></span></div>
                                    </div>
                                </div>

                                </div>
                                <div class="text-center hide" data-section="profile">
                                    <label for="edata" class="subsection">
                                        <input type="radio" name="subSection" id="edata" value="edata" >
                                        EDATA: WFP, PARAD, FLORT
                                    </label>
                                    <label for="adata" class="subsection">
                                        <input type="radio" name="subSection" id="adata" value="adata">
                                        ADATA: VEL3D
                                    </label>
                                    <label for="cdata" class="subsection">
                                        <input type="radio" name="subSection" id="cdata" value="cdata">
                                        CDATA: CTDPF, DOFST
                                    </label>
                                </div>
                                <div class="text-center hide" data-section="summarydata">
                                    <label for="scidata" class="subsection">
                                        <input type="radio" name="subSection" id="scidata" value="scidata">
                                        Scientific Data
                                    </label>
                                    <label for="engdata" class="subsection">
                                        <input type="radio" name="subSection" id="engdata" value="engdata">
                                        Engineering Data
                                    </label>
                                </div>
                                {% endif %}
                                <table id="parsed-data" class="table table-striped table-bordered" style="width:100%"><thead></thead></table>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="plot-data-modal" class="dialog-box">
    <div class="text-center">
        <div id="plot-variable-container">
            Variable: <select id="plot-variable" multiple></select>
            <button type="button" class="btn btn-xs btn-primary" id="plot">Plot</button>
        </div>
        <hr />
        <div class="alert text-danger hide" id="plot-error"></div>
        <div style="padding:25px;height:400px">
            <div id="plot-container"></div>
        </div>
    </div>
</div>
<div id="error-flag-modal" class="dialog-box">
    <table class="table table-striped">
        <thead>
            <tr>
                <td class="flag-number">#</td>
                <td class="value-name">Flag (Hex)</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


{% endblock %}
{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        Pages.ParsedData.init("{{ asset.id }}", "{% if files %}true{% else %}false{% endif %}", "{{ asset.name }}","{{asset.type.id}}");
    });
</script>
{% endblock %}
