{% block content %}

<div class="row">
    <div class="col-md-6">
        Platform:
        <select id="change-platform_{{name}}" class="platform_select">
            <option value="0"></option>
            {% for platform in deployed_platforms %}
                <option value="{{ platform.id }}"
                        {% if selected_asset.platform.id == platform.id%}selected{% endif %}>
                    {{ platform.group.name }}: {{ platform.code }} ({{ platform.deployment.code }})
                </option>
            {% endfor %}

            {% if selected_asset.platform_id %}
                <script type="text/javascript">
                    $("#change-platform_{{name}}").trigger('change');
                </script>
            {% endif %}
        </select>
    </div>
    <div class="col-md-6">
        {% for disposition in dispositions %}
        <label>
            <input
                    type="checkbox"
                    data-value="{{ disposition.id }}"
                    {% if disposition.id in shown_dispositions %}checked="checked"{% endif %} class="disposition_{{name}}"/>
            {{ disposition.name }}
        </label>
        {% endfor %}
    </div>
</div>

<br />

<div class="status_grid_container" id="status_grid_container_{{name}}"></div>

{% endblock %}

{% block scripts %}
<script>
    var platform_dict = [];
    $(document).ready(function() {
        {% for platform in platforms %}
        var full_code = '{{ platform.group.name }}: {{ platform.code }} ({{ platform.deployment.code }})';
        var p = {label: full_code, value: {{ platform.id }}, disposition: {{ platform.disposition.id }}};
        platform_dict.push(p);
        {% endfor %}
    });

    $(".disposition_{{name}}").click(function(){
        var dis_id = [];//$(this).attr('data-value');
        $(".disposition_{{name}}").each(function(){
            if($(this).is(":checked")) {
                dis_id.push($(this).attr('data-value'));
            }
        });
        $("#change-platform_{{name}}").empty();
        $(".platform_select").append('<option></option>');
        for(var i = 0; i < platform_dict.length; i++) {
            if(dis_id.indexOf(String(platform_dict[i]['disposition'])) != -1) {
                  $(".platform_select").append('<option value="' + platform_dict[i]['value'] + '">' + platform_dict[i]['label'] + '</option>');
            }
        }
    });


</script>

{% endblock %}
