{% extends 'base.html' %}
{% load static %}
{% load ui_tags %}

{% block topnav %}
    <h1>Purging: <a id='linkEdit' href='/asset/overview/{{ asset.id }}/{{ asset.deployment.code}}/'>
        {% if asset.platform.name != asset.name %}
            {{ asset.name }} on {{ asset.platform.name }} ({{ asset.deployment.code }})
        {% else %}
            {{ asset.name }} ({{ asset.deployment.code }})
        {% endif %}
    </a></h1>
{% endblock %}

{% block content %}
<div id="purge-details" class="row">
    <div class="col-md-6 col-lg-5">
        <div class="x_panel">
            <div class="x_title">
                <h2>Purge {{ asset.name }} from {{ asset.platform.name }} ({{ asset.deployment.code }})</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                Are you sure you want to completely remove this asset? It should only be done for assets that have no data or were imported in error.
            </div>
        </div>
        <a href="{% url 'asset.overview' asset.id asset.deployment.code %}" id="btnBack" class="btn btn-default">Back to Asset Overview</a>
        <a id="btn-purge-asset" class="btn btn-primary">Purge Asset</a>
    </div>
</div>

<div id="complete-details" class="row hidden">
        <div class="row">
            <div id="success-table" class="col-md-6 col-lg-6 hidden">
                <div class="x_panel">
                    <div class="x_title">
                        <div class="text-success">This asset has been purged. It will no longer appear in the system</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div id="js-success-assets"></div>
                    </div>
                    <div class="x_content" style="max-height:600px;overflow:auto;overflow-x:hidden">
                        <table class="table table-striped table-bordered" id="success-assets-table">
                            <tbody id="success-assets-table-body">
    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="failed-table" class="col-md-6 col-lg-6 hidden">
                <div class="x_panel">
                    <div class="x_title">
                        <div class="text-danger">The purge of this asset has failed:</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div id="js-failed-assets"></div>
                    </div>
                    <div class="x_content" style="max-height:600px;overflow:auto;overflow-x:hidden">
                        <table class="table table-striped table-bordered" id="failed-assets-table">
                            <tbody id="failed-assets-table-body">
    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-lg-4">
                <a href="{% url 'asset.overview' asset.platform.id asset.deployment.code %}" id="btnBack2" class="btn btn-default">Back to Platform Overview</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(function(){
        $('#btn-purge-asset').click(function(e) {
            $('#loading-panel').toggleClass('hidden', false);
            $('#purge-details').toggleClass('hidden', true);
            $.ajax({
                url: '{% url 'asset.execute_purge_asset' %}',
                method:'POST',
                data: {
                    'asset_id': {{ asset.id }}
                },
                success: function(data) {
                    if (data) {
                        
                        var asset_id = {{ asset.id }};
                        var url = "{% url 'asset.overview' asset.parent_id asset.deployment.code %}";
                        if (data.success) {                            
                            url = url + "?asset_purge=1";
                        } else {         
                            url = url + "?asset_purge=0";
                        }
                        location.href = url;
                    }
                },
            });
        });
    });
</script>
{% endblock %}